/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:946px;
	color: #ffffff;
	background: #6966BE;
}

a:link, a:visited { color: #f4d153; text-decoration:none;} 
a:active, a:hover { color: #f4d153; text-decoration: underline;}

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 26px;
	color: #11616a;
	font-weight: bold;
}

.cleaner {
	clear: both;
	width: 100%;
	height: 0px;
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
}

.comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url("../images/templatemo_comment_icon.png") bottom left no-repeat;
}


/* top panel */
#templatemo_top_panel{
	width:100%;
	height: 256px;	
	margin: 0 auto;
	color: #000000;
	background: #ffffff;
	
}

#templatemo_top_panel #templatemo_header_section{
	width: 930px;
	height: 270px;	
	margin:0 auto;
	padding: 0 15px;
	/* background:url("../images/background17.png")no-repeat 0 0; */
	background:url("../images/header.png")no-repeat 0 0;
}

#templatemo_header_section #search_box {
	float: right;
	margin-top: 205px;
	width: 245px;
	padding-left: 15px;
	height: 30px;
}

#search_box #search_field{
	background: none;
	border: none;
	font-size: 13px;
	font-variant: normal;
	height: 18px;
	line-height: normal;
	padding: 4px;
	width: 150px;
}

#search_box #search_button {
	cursor: pointer;
	background: none;
	border: none;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	margin: 0 0 0 15px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 50px;
}
/* end of top panel */

/* menu */
#templatemo_menu_panel {
	clear: both;
	width: 100%;
	height: 30px;	
	margin: 0 auto;
	color: #408080;
	background-image: url("../images/templatemo_menu_bg.jpg")_repeat-x;
}

#templatemo_menu_panel #templatemo_menu_section {
	width: 930px;
	height: 30px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
}

#templatemo_menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
}

#templatemo_menu_section ul li {
	display: inline;
}

#templatemo_menu_section ul li .lastmenu{
	border-right: none;
}

#templatemo_menu_section ul li a {
	float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #2f2e27;
	border-right: 1px solid #4c4a3c;	
}

#templatemo_menu_section li a:hover, #templatemo_menu_section li .current {
	color: #ffffff;
}

/* end of menu */

/* content panel */
#templatemo_content_panel {
	clear: both;
	width:100%;
	margin: 0 auto;
	color: #ffffff;
	background: url("") repeat; 
	
}

#templatemo_content_panel #templatemo_content {
	clear: both;
	overflow: hidden;
	height: 100%;
	width: 930px;
	padding: 30px 0 0 30px;
	margin:0 auto;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 270px;
	margin-right: 30px;
	padding-top: 15px;
	border: 5px solid #7b7866;
	background-color: #696653;
}

#templatemo_content #templatemo_content_right {
	float: left;
	width: 590px;
}

#templatemo_content_left .templatemo_content_left_section {
	clear: both;
	width: 260px;
	margin-left: 10px;
	margin-bottom: 25px;
}

.templatemo_content_left_section .left_section_title {
	margin: 0px;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0 0 20px;
	height: 45px;
	background:url("../images/templatemo_left_column_title_bg.jpg") no-repeat;
} 

.templatemo_content_left_section .left_section_content {
	margin: 0px;
	padding: 10px 20px 0 20px;
}

.left_section_content ul{
	clear: both;
	margin: 0 0 0 15px;
	padding: 0px;
}

.left_section_content ul li{
	margin: 0 0 5px 0;
}

.left_section_content .gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

.left_section_content .gallery li {
	padding: 0;
	float: left;
	margin: 0 1px 1px 0;	
	width: 70px;
	height: 61px;
	border: 1px solid #7b7866;
}

.left_section_content .gallery img {
	border: none;
}

#templatemo_content_right .templatemo_post_section {
	clear: both;
	margin-bottom: 25px;
}

.templatemo_post_section .date_section {
	float: left;
	display: inherit;
	font-size: 30px;
	font-weight: bold;
	width: 70px;
	height: 60px;
	padding: 30px 0 0 30px;
	margin-right: 15px;
	background: url("../images/templatemo_date_bg.png") no-repeat;
}

.date_section span {
	display: block;
	margin-top: 8px;
	font-size: 15px;
	font-weight: bold;
} 

.templatemo_post_section .post_content {
	float: left;
	display: inline;
	width: 475px;
}

.post_content .post_title {
	width: 475px;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #d77707;
	border-bottom: 1px solid #75715a;
}

.post_title .post_info{
	width: 100%;
	font-weight: normal;
	font-size: 12px;
	padding-top: 5px;
	color: #ffffff;
}

.post_content .post_body{
	padding: 0 0 15px 0;
}

.post_content .post_body img{
	margin-bottom: 15px;
	border: 5px solid #7b7866;
}

.post_content .post_comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url("../images/templatemo_comment_icon.png") bottom left no-repeat;
}

/* comment */

#middle_column .comment_section {
	margin: 20px 20px 30px 20px;
}

.comment_section .comment_section_title{
	color: #ded153;
	height: 30px;
	font-size: 30px;
	border-bottom: 1px dotted #666;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
}

.comment_section .comment_box{
	margin-bottom: 20px;
	background: #bebaa4;
}

.comment_box .comment_title {
	color: #11616a;
	font-weight: bold;
	padding: 5px 10px;
	background-color: #aba68b;
	border-bottom: 1px solid #9e997e;
}

.comment_box .comment_body{
		padding: 5px 10px;
}


#middle_column .leave_comment_section {
	margin: 20px;
}

.leave_comment_section .leave_comment_section_title{
	color: #ded153;
	height: 30px;
	font-size: 30px;
	border-bottom: 1px dotted #666;
	padding: 20px 0 0 0;
	margin-bottom: 15px;
}

.leave_comment_section form {
	padding: 20px;
	background-color: #aba68b;
	border: 1px solid #9e997e;
}

.leave_comment_section textarea {
	background:#FFFFFF none repeat fixed 0 0;
	border:1px solid #BBBBBB;
	display:block;
	font-family:Helvetica,Arial,sans-serif;
	font-size:1.1em;
	height:150px;
	margin-top:5px;
	padding:5px;
	width:300px;
}

.leave_comment_section .form_row {
	width: 100%;
	margin-bottom: 15px;
}

.leave_comment_section form input {
	margin-top: 5px;
	width: 200px;
}

.leave_comment_section .submit_btn {
	width: 80px;
}

/* end of comment */
/* end of content */

/* for bottom palen */
#templatemo_bottom_panel{
	width:100%;
	min-height: 180px;
	
	margin: 0 auto;
	border-top: 1px solid #050702;
	background: #00034A url("../images/templatemo_bottom_panel_bg.jpg") center top no-repeat;	

}

#templatemo_bottom_panel #templatemo_bottom_section{
	overflow: hidden;
	width: 1030px;
	
	margin:0 auto;
	padding: 40px 0 15px 30px;	

}

#templatemo_bottom_section #templatemo_bottom_section_left {
	float: left;
	display: inline-block;
	width: 280px;
	
	margin-right: 30px;
	margin-bottom: 15px;
}

#templatemo_bottom_section .bottom_section_title{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #ffffff;
}

#templatemo_bottom_section_left .popular_post {
	list-style: none;
	margin: 0;
	padding: 0 30px 0 0;
}


.popular_post li{
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
	border-bottom: 1px solid #36241b;
}

#templatemo_bottom_section #templatemo_bottom_section_right {
	float: right;
	text-align: right;
	display: inline-block;
	width: 280px;
	margin-right: 30px;
	margin-bottom: 15px;
}

#templatemo_bottom_section_right .list_section{
	list-style: none;
	margin: 0 0 15px 30px;
	padding: 0;
}

#templatemo_bottom_section_right .list_section li{
	list-style: none;
}

/* end of bottom panel */

/*  footer */

#templatemo_footer_panel{
	width:100%;
	height: 50px;
	margin: 0 auto;
	background-color: #151513;
	border-top: 1px solid #36352c;
}

#templatemo_footer_panel #templatemo_footer_section{
	width: 960px;
	height: 10px;
	margin:0 auto;
	padding: 20px 15px;	
	text-align: center;
}
/* end of footer */