/****************************************/
/*** General guidelines
/****************************************/

.tr8n                                           {width:100%; font-size:11px; font-family:arial;}
.tr8n div                                       {font-family:arial;}    
.tr8n a                                         {text-decoration:none; color:#16b; outline:none; border:0px;}
.tr8n a:hover                                   {text-decoration:underline}
.tr8n a img                                     {border:0px;}
.tr8n table                                     {width:100%;border-collapse: collapse; font-size:12px; padding:0px; margin:0px;}
.tr8n td                                        {vertical-align:top; padding:0px; spacing:0px;}
.tr8n th                                        {vertical-align:top;text-align:left; padding:0px; spacing:0px;}
.tr8n input                                     {border:1px solid #ccc; padding:3px; margin: 0px;}    
.tr8n textarea                                  {border:1px solid #ccc; padding:3px;}    
.tr8n select                                    {border:1px solid #ccc; padding:3px;}
.tr8n .pagination                               {text-align:left; padding:0px; margin:0px;}

/****************************************/
/*** Classes for the translatable elements
/****************************************/

.tr8n_not_translated                           {border-bottom: 2px solid red;}
.tr8n_translated                               {border-bottom: 2px solid green;}
.tr8n_fallback                                 {border-bottom: 2px solid yellow;}
.tr8n_language_case                            {border: 1px dotted blue;}

/****************************************/
/*** Classes for the popup windows
/****************************************/

.section_title                                  {padding-top:10px; border-bottom: 1px solid #ccc; margin-bottom:10px; color:black;font-size:18px;}  
.section_box                                    {border: 1px dotted #ccc; padding:10px; margin-top:10px; margin-bottom:15px;}
.section_box.colored                            {background: #f9f8f7;}
.section_box.locked                             {background: #F1FFEF;}
     
.small_section_title                            {padding-top:5px; border-bottom: 1px solid #ccc; margin-bottom:10px; color:black; font-size:12px; font-weight: bold;}  

.topic_header                                   {color: grey; padding-bottom:5px;}
.topic_value                                    {padding-top:5px; padding-bottom:5px;}

.tr8n_right_horiz_list                          {float:right;overflow:hidden;text-align:left;list-style-type:none;font-family:arial;font-size:12px;margin-top:0px;}
.tr8n_right_horiz_list li                       {margin-right:-11px;border-right:solid 1px #ccc;padding:0px 10px;margin-left:10px;float:left;}

.tr8n_translator                               {position: absolute;top: 0;left: 0;font-family: verdana; font-size:11px; width: 400px;background: #f4f4f4;border:solid 1px #e8e8e8;border-color:#e8e8e8 #bababa #bababa #e8e8e8;padding: 0;margin: 0;z-index: 10000;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.6);-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.6);box-shadow:2px 2px 3px rgba(0,0,0,0.6);}
.tr8n_translator img                           {vertical-align:text-top !important;}
.tr8n_translator a                             {text-decoration:none; color:#16b; outline:none; border:0px;}
.tr8n_translator a:hover                       {text-decoration:underline}
.tr8n_translator a img                         {border:0px}
.tr8n_translator .supplemental                 {float:right; padding:2px;}
.tr8n_translator .quiet                        {color: #666;}  
.tr8n_translator .small                        {font-size:11px;}  
.tr8n_translator .desc                         {color:grey;font-size:10px;padding-left:5px;padding-top:1px;border-left:solid 1px #ccc;margin-left:3px;}
.tr8n_translator .strong                       {font-weight:bold;}
.tr8n_translator .stem                         {position:absolute;margin:0;}
.tr8n_translator .stem.top_left                {top:-12px;}
.tr8n_translator .stem.top_right               {top:-12px;-moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: fliph;}
.tr8n_translator .stem.bottom_left             {bottom:-12px;-moz-transform: scaleY(-1); -webkit-transform: scaleY(-1); transform: scaleY(-1); filter: flipv;}
.tr8n_translator .stem.bottom_right            {bottom:-12px;-moz-transform: scaleX(-1), scaleY(-1); -webkit-transform: scaleX(-1), scaleY(-1); transform: scaleX(-1), scaleY(-1); filter: fliph, flipv;}
.tr8n_translator .original_text                {background-color:#f9f8f7;border: 1px dotted #ccc;padding:5px;margin-bottom:5px;}
.tr8n_translator .quote                        {padding:10px;}
.tr8n_translator .quote img                    {vertical-align:middle !important}
.tr8n_translator .keyboardInput                {padding:5px;height:60px;background:#feffef;border:solid 1px #ccc}
.tr8n_translator .section                      {margin:10px 0 15px 0}
.tr8n_translator .section_title                {border-bottom:solid 1px #ccc;padding:5px 0;margin-bottom:10px;}
.tr8n_translator .tip                          {color:grey; font-size:10px; padding-top:10px;}
.tr8n_translator .actions                      {font-size:10px; border-bottom:dotted 1px #ccc; overflow:hidden;list-style-type:none; margin:0px;padding:0px;padding-bottom:5px; margin-top:10px;}
.tr8n_translator .actions li                   {padding-left:0px; padding-top:5px;font-weight:bold}
.tr8n_translator .hd                           {font-size:10px;text-transform: uppercase;color:#444;padding:5px;margin: 5px;}
.tr8n_translator .bd                           {border:solid 1px #bababa;border-color:#bababa #e8e8e8 #e8e8e8 #bababa;margin:5px;background-color: white;}
.tr8n_translator .spinner                      {text-align:center;padding:10px;}
.tr8n_translator .votes_container              {border-bottom:1px dotted #ccc; max-height:350px; overflow:auto; font-size:11px;}
.tr8n_translator .hints_container              {font-size:10px; padding-left:10px;}
.tr8n_translator .tokens_container             {padding-top:10px; font-size:10px; padding-bottom:5px; border-bottom:dotted 1px #ccc;}
.tr8n_translator .buttons_container            {padding-top:10px; padding-bottom:15px;text-align:center;}
  
.translator_btn                                 {position:relative;border:0;padding:0;margin:0 2px 0 -2px;cursor:pointer;overflow:visible;background:transparent url('/tr8n/images/site_sprite.gif') no-repeat right -100px;font-size:11px;font-weight:bold;text-align:center;font-family:Arial;vertical-align:middle;}
.translator_btn span                            {position:relative;display:block;white-space:nowrap;background:transparent url('/tr8n/images/site_sprite.gif') no-repeat left top;}
button::-moz-focus-inner                        {border:none;}
.translator_submit_btn                          {padding:0 10px 0 0;background-position:right -35px;}
.translator_submit_btn span                     {padding:0px 0 0px 10px;line-height:30px;height:30px;background-position:left 0;color:#fff;font-size:14px;}
.translator_small_btn                           {padding:0 10px 0 0;background-position:right -35px;}
.translator_small_btn span                      {padding:0px 0 0px 10px;line-height:30px;height:30px;background-position:left 0;color:#fff;font-size:12px;}

.language_selector_trigger                      {cursor: pointer; font-family:arial; font-size:12px; vertical-algin:middle}
.language_selector                              {position: absolute;top: 0;left: 0;font-family: verdana;width: 14em;background: #f9f8f7;padding: 0;}

.tr8n_language_selector                         {/*position: absolute;*/ /*top: 0; left: 0;*/ overflow-x: hidden; border: none;padding:0px 0px 5px;text-align:left;width:500px; height: 412px;background: white; font-size:10px;/*font-family:arial;*/ z-index: 11000;}
.tr8n_language_selector .yj-action-bar-tabs        { padding-left: 8px; border-bottom: 1px solid #D6D6D6; }

.tr8n_language_selector .yj-action-bar-tabs ul {
  list-style-type: none;
  padding: 6px 0 0;
  margin: 0;
  font: normal 11px Verdana, sans-serif;
  font-size: 12px;
}

.tr8n_language_selector .yj-action-bar-tabs ul li.yj-filter-tab {
  list-style: none;
  margin: 0 3px 0 0;
  display: inline;
  font-size: 0;
  position: relative;
  top: 1px;
}

.ie6 .tr8n_language_selector .yj-action-bar-tabs ul li.yj-filter-tab,
.ie7 .tr8n_language_selector .yj-action-bar-tabs ul li.yj-filter-tab {
  top: 0;
}

.ie6 .tr8n_language_selector .yj-action-bar-tabs ul li.yj-filter-tab.yj-selected,
.ie7 .tr8n_language_selector .yj-action-bar-tabs ul li.yj-filter-tab.yj-selected {
  top: 1px;
}

.tr8n_language_selector .yj-action-bar-tabs ul li.yj-selected {
  font-weight: bold;
}

.tr8n_language_selector .yj-action-bar-tabs .yj-filter-tab-link {
  padding: 5px 10px;
  background: #DBE8FE;
  border: 1px solid #C2D3EF;
  font-size: 12px;
  color: #124896;
  border-bottom: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.tr8n_language_selector .yj-action-bar-tabs .yj-selected .yj-filter-tab-link,
.tr8n_language_selector .yj-action-bar-tabs .yj-selected .yj-filter-tab-link:hover {
  background: #fff;
  color: #333;
  border-color: #C2D3EF;
  border-bottom: 1px solid #fff;
}

.tr8n_language_selector .yj-action-bar-tabs .yj-filter-tab-link:hover {
  border-color: #94ADD5;
  color: #124896;
}

.tr8n_language_selector .yj-small-action-btn {
  font-weight: bold;
  background-image: url(/images/buttons/small_action_btn.gif);
}

.tr8n_language_selector .yj-small-action-btn span {
  height: 23px;  
}

.tr8n_language_selector .yj-small-action-btn span {
  line-height: 23px;
  font-size: 11px;
  background-image: url(/images/buttons/small_action_btn.gif);
}

.tr8n_language_selector .btn {
  font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
  display: -moz-inline-stack;
  display: inline-block;
  overflow: hidden;
  background-position: right 0px;
  background-repeat: no-repeat;
/*  margin: 0 1px 0 0;*/
  padding: 0;
  vertical-align: middle;
  cursor: pointer;
  zoom: 1;
}

.tr8n_language_selector .btn span {
  position: relative;
  display: block;
  _display: inline;
  overflow: hidden;
  margin-right: 10px;
  padding-left: 10px;
/*  padding-bottom: 1px;*/
  background-position: 0 -45px;
  background-repeat: no-repeat;
  vertical-align: baseline;
  white-space: nowrap;
  color: #fff;
  zoom: 1;
}

.tr8n_language_selector .btn span em {
  font-style: normal;
}

.tr8n_language_selector .btn span img {
  position: relative;
  float: left;
  padding: 5px 5px 0 0;
  vertical-align: middle;
  background: none;
}

.tr8n_language_selector .btn input {
  position: absolute;
  left: 0px;top: -100px;
  padding: 100px;
  width: 1000px; height: 1000px;
  font-size: 100px;
  background: #fff;
  cursor: pointer;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}

.tr8n_language_selector .btn:hover, .tr8n_language_selector .btn-hover {
  background-position: right -90px;
  text-decoration: none;
  font-style: normal;
}

.tr8n_language_selector .btn:hover span, .tr8n_language_selector .btn-hover span {
  background-position: 0 -135px;
}

.tr8n_language_selector .btn:active,
.tr8n_language_selector .btn-active {
  background-position: right -180px;
  text-decoration: none;
}

.tr8n_language_selector .btn:active span,
.tr8n_language_selector .btn-active span {
  background-position: 0 -225px;
}

.tr8n_language_selector .yj-disabled-button,
.tr8n_language_selector .yj-disabled-button:hover,
.tr8n_language_selector .yj-disabled-button:active {
  background-position: right -270px;
  text-decoration: none;
  cursor: default;
}

.tr8n_language_selector .yj-disabled-button span,
.tr8n_language_selector .yj-disabled-button:hover span,
.tr8n_language_selector .yj-disabled-button:active span {
  background-position: 0 -315px;
}

.tr8n_language_selector .yj-disabled-button img {
  margin-top: -45px;
}

.tr8n_language_selector .yj-disabled-button input {
  display: none;
}


.tr8n_language_selector .inner                  {background:#fff;border:solid 1px #bababa;border-color:#bababa #e8e8e8 #e8e8e8 #bababa;padding:5px;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;font-size:11px;}
.tr8n_language_selector .head                   {font-size:10px;text-transform: uppercase;color:#444;padding-bottom:5px;}
.tr8n_language_selector .action                 {float:right}
.tr8n_language_selector .foot                   {text-align:left;padding:5px;font-size:11px;}
.tr8n_language_selector a                       {text-decoration:none; color:#16b; outline:none; border:0px; font-style: normal;}
.tr8n_language_selector a img                   {border:0px;}
.tr8n_language_selector div.content img         { padding: 0px; }
.tr8n_language_selector a:hover                 {text-decoration:underline}
.tr8n_language_case_manager                               {position: absolute;top: 0;left: 0;font-family: verdana; font-size:11px; width: 400px;background: #f4f4f4;border:solid 1px #e8e8e8;border-color:#e8e8e8 #bababa #bababa #e8e8e8;padding: 0;margin: 0;z-index: 10000;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.6);-moz-box-shadow:2px 2px 3px rgba(0,0,0,0.6);box-shadow:2px 2px 3px rgba(0,0,0,0.6);}
.tr8n_language_case_manager img                           {vertical-align:text-top !important;}
.tr8n_language_case_manager a                             {text-decoration:none; color:#16b; outline:none; border:0px;}
.tr8n_language_case_manager a:hover                       {text-decoration:underline}
.tr8n_language_case_manager a img                         {border:0px}
.tr8n_language_case_manager .supplemental                 {float:right; padding:2px;}
.tr8n_language_case_manager .quiet                        {color: #666;}  
.tr8n_language_case_manager .small                        {font-size:11px;}  
.tr8n_language_case_manager .desc                         {color:grey;font-size:10px;padding-left:5px;padding-top:1px;border-left:solid 1px #ccc;margin-left:3px;}
.tr8n_language_case_manager .strong                       {font-weight:bold;}
.tr8n_language_case_manager .stem                         {position:absolute;margin:0;}
.tr8n_language_case_manager .stem.top_left                {top:-12px;}
.tr8n_language_case_manager .stem.top_right               {top:-12px;-moz-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: fliph;}
.tr8n_language_case_manager .stem.bottom_left             {bottom:-12px;-moz-transform: scaleY(-1); -webkit-transform: scaleY(-1); transform: scaleY(-1); filter: flipv;}
.tr8n_language_case_manager .stem.bottom_right            {bottom:-12px;-moz-transform: scaleX(-1), scaleY(-1); -webkit-transform: scaleX(-1), scaleY(-1); transform: scaleX(-1), scaleY(-1); filter: fliph, flipv;}
.tr8n_language_case_manager .hd                           {font-size:10px;text-transform: uppercase;color:#444;padding:5px;margin: 5px;}
.tr8n_language_case_manager .bd                           {border:solid 1px #bababa;border-color:#bababa #e8e8e8 #e8e8e8 #bababa;margin:5px;background-color: white;}
.tr8n_language_case_manager .spinner                      {text-align:center;padding:10px;}
.tr8n_language_case_manager .votes_container              {border-bottom:1px dotted #ccc; max-height:350px; overflow:auto; font-size:11px;}
.tr8n_language_case_manager .hints_container              {font-size:10px; padding-left:10px;}
.tr8n_language_case_manager .tokens_container             {padding-top:10px; font-size:10px; padding-bottom:5px; border-bottom:dotted 1px #ccc;}
.tr8n_language_case_manager .buttons_container            {padding-top:10px; padding-bottom:15px;text-align:center;}
.tr8n_language_case_manager .original_text                {background-color:#f9f8f7;border: 1px dotted #ccc;padding:5px;margin-bottom:5px;}
.tr8n_language_case_manager .quote                        {padding:10px;}
.tr8n_language_case_manager .quote img                    {vertical-align:middle !important}
.tr8n_language_selector #language_content,
  .tr8n_language_selector #translate_content    { padding: 0px 5px; }
.tr8n_language_selector td                      { font-size: 12px; line-height: 1.5; vertical-align: top; }
.tr8n_language_selector #translate_content div.info { padding: 7px 5px; font-size: 12px; line-height: 16px; }
.tr8n_language_selector .yj-inline-icon            { margin-bottom: 2px; }
.tr8n_language_selector #language_content table { padding: 0px 10px 15px 10px; margin-bottom: 10px; width: 100%; border-bottom: 1px solid #E7E7E7; }
.tr8n_language_selector #language_content td span { padding-left: 3px; font-size: 10px; color: gray; }
.tr8n_language_selector #language_content td    { padding: 6px 9px 0px 0px;}

.tr8n_language_selector #language_content td.tr8n_language_link { width: 220px;}
.tr8n_language_selector #language_content td.tr8n_bars { width: 15px;}
.tr8n_language_selector #translate_content table { width: auto; margin: 0px; }
.tr8n_language_selector #translate_content td span { font-size: 11px; }
.tr8n_language_selector #translate_content td   { padding: 1px 9px 0px 0px;}
.tr8n_language_selector #tr8n_language_lists    { padding-top: 5px; }  
.tr8n_language_selector #translate_content select { width: 240px; height: auto; border: 1px solid; margin: 2px 0px;}
.tr8n_language_selector #translate_content a.btn { vertical-align: top; }
.tr8n_language_selector #translate_content a.translate-btn { padding-left: 10px; }
.tr8n_language_selector #translate_content a.btn:hover { text-decoration: none;}
.tr8n_language_selector #translate_content textarea { min-height: 40px; width: 100%; }


.tr8n_language_strip                            {text-align:center; color:#777;}
.tr8n_language_strip a                          {text-decoration:none; color:#777; outline:none; border:0px; font-size:10px;}
.tr8n_language_strip a img                      {border:0px;}
.tr8n_language_strip a:hover                    {text-decoration:underline; font-style: normal;}

.language_list                                  {overflow:hidden;list-style-type:none;margin:0px;padding:0px;}
.language_list li                               {background: white;font-size:11px;font-family:verdana;border-bottom:solid 1px #eee;margin-bottom:-1px;margin:0px;padding:2px;cursor:pointer;}
.language_list li:hover                         {background: #F1F5FF;}

.glossary_table                                 {}
.glossary_table td                              {padding:4px;vertical-align:top; font-size:10px;}


.tr8n_lightbox_overlay                          {position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.5; opacity:.50; filter: alpha(opacity=50); }
.tr8n_lightbox                                  {position: absolute; top: 5%; left: 25%; width: 50%; height: 80%; padding: 16px; z-index:1002; overflow: auto; }

/****************************************/
/*** Classes for the feature tabs
/****************************************/
   
.translations_navigation                  {height:70px; position:relative; padding:15px 15px 0px; background-color:#f1f4f9; border:1px solid #ccc; margin:0px; margin-bottom:10px;}

.translations_tab_nav                     {list-style-type:none;bottom:-1px !important;position:absolute;margin:0px;padding:0px;font-family:arial;}
.translations_tab_nav li                  {float:left;margin-right:2px;cursor:pointer;text-align:bottom;}
.translations_tab_nav li a                {display:block;padding:6px 0px 6px 10px; outline:none;}

.translations_tabs                        {margin-left:5px;zoom:1}
.translations_tabs li                     {background: url('/tr8n/images/site_sprite.gif') no-repeat right -255px;font-size:12px;font-weight:bold;margin:0;position:relative;z-index:1}
.translations_tabs li a                   {padding:13px 30px 6px 6px;color:#1166bb;cursor:pointer;text-decoration:none;line-height:14px;}
.translations_tabs li a:hover             {text-decoration:none}
.translations_tabs li.current             {margin-left: -30px;background-position:right -360px;z-index:2}
.translations_tabs li.current a           {padding-left:30px;background: url('/tr8n/images/site_sprite.gif') no-repeat left -325px;color: #333;font-size:13px;}
.translations_tabs li.last                {background-position:right -290px;}
.translations_tabs li.last a              {padding-right:30px;}
.translations_tabs li.last_current        {margin-left: -25px;background-position:right -430px;}
.translations_tabs li.last_current a      {padding-left:30px;color: #000;}
.translations_tabs li.first a             {padding-left:30px;background:url('/tr8n/images/site_sprite.gif') no-repeat 0 -220px;}
.translations_tabs li.first_current       {margin:0}
.translations_tabs li.first_current a     {background-position:0 -395px;color: #000;}

/****************************************/
/*** Classes for the admin user page
/****************************************/
.tr8n_admin                                {font-size: 12px; font-family:arial}
.tr8n_admin h1                             {font-size: 20px; font-weight:bold; border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom:3px; padding-top:5px; }
.tr8n_admin h2                             {font-size: 16px; font-weight:bold; border-bottom: 1px solid #ccc; margin-bottom: 10px; padding-bottom:3px; padding-top:5px; }

.tr8n .admin_table                         {width: 100%; font-size: 12px; border: 1px #e5e5e5 solid; border-collapse: collapse; background-color: white; margin-bottom: 10px; }
.tr8n .admin_table td                      {padding: 5px; border: 1px solid #e5e5e5; vertical-align:top; text-align:left;}
.tr8n .admin_table th                      {background-color: #efefef; border: none; border: 1px #e5e5e5 solid; font-weight:bold; padding: 5px; vertical-align:top; text-align:left;}
.tr8n .admin_table tr:hover                {background-color: #eee; }
.tr8n .admin_table td.numeric              {text-align: right; }
.tr8n .admin_table th.numeric              {text-align: right; }

/****************************************/
/*!   Pure CSS Buttons.
/***  Learn more ~ http://www.halmatferello.com/lab/pure-css-buttons/
/***  Licensed under GPL and MIT.
/****************************************/

.tr8n_pcb, .tr8n_pcb span                       {background: url('/tr8n/images/buttons.png') no-repeat; height: 23px; line-height: 23px; padding: 3px 0 7px 0; }
.tr8n_pcb, a.tr8n_pcb:link, a.tr8n_pcb:visited  {color: #333; font-size: 12px; font-style:bold; font-family:arial; padding-left: 14px; text-decoration: none !important; }

/* ie 6 hack */
* html div#frame .tr8n_pcb                      {color: #333; padding-top: 0px; padding-bottom: 0px; text-decoration: none; }

/* ie 7 hack */
*:first-child+html .tr8n_pcb                    {color: #333; padding-top: 0px; padding-bottom: 0px; text-decoration: none; }

.tr8n_pcb span                                  {background-position: right -326px; padding-right: 14px; }
a.tr8n_grey_button                              {background-position: left -219px; padding-top: 3px; }
a.tr8n_grey_button span                         {background-position: right -545px; padding-top: 3px; }
a.tr8n_grey_button:hover                        {background-position: left -246px; }
a.tr8n_grey_button:hover span                   {background-position: right -572px; }
a.tr8n_grey_button:active, .grey_active_button  {background-position: left -273px; }
a.tr8n_grey_button:active span, .grey_active_button span {background-position: right -599px; }
body.tr8n_grey_disabled_button                  {background-position: left -300px; color: #bbb !important; }
body.tr8n_grey_disabled_button span             {background-position: right -626px; }

.tr8n_cancel_link                               {font-size:12px;font-family:arial;}

.translation_missing {
  color: red;
  font-style: bold;
}