@charset "utf-8";

/* 240 + 320px */

@media screen and (min-width:361px) and (max-width:615px) {
body {
	   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	padding: 0px;
	text-align: center;
}
#tut-portal-main-container div {
	margin: 0px 0px 10px 0px;
}
#tut-portal-top-header {
	display: block;
	text-align: center;
	padding: 0 10px 0 10px;
}
#tut-portal-searh-bar {
	display: block;
	width: 97%;
	margin: 0 auto;
	float: none;
}
#tut-portal-searh-bar form {
	display: block;
	width: 97%;
}
#tut-portal-top-header {
	margin: 0px;
	width: 100%;
}
#tut-portal-logo {
	float: none;
	margin: 0 auto;
	padding: 10px;
}

#tut-portal-home-body {
	background-color: #fff;
	height: auto;
	overflow: hidden;
	padding: 0px 10px;
	width: 95%;
}
#tut-portal-slider {
	float:left;
	margin:0;
}
#tut-portal-slider ul {
	display: inline-block;
}
#tut-portal-global-navigation {
	position:none;
	margin: 0 auto;
	width: 100%;
}
#tut-portal-global-navigation ul li {
	margin: 0 auto;
}
#tut-portal-social-btn{
	text-align: center;
}
.button {
	border: 0px;
	text-align:center;
	margin: 0 0 0px 0;
	display:block;
	
}
.button {
		background-color:#002233;
	background:-moz-linear-gradient(#002233 0%, #1d6271 100%);
	background:-webkit-gradient(color-stop(0%,#002233), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#002233 0%,#1d6271 100%);
	background:-o-linear-gradient(#002233 0%,#1d6271 100%);
	background:-ms-linear-gradient(#002233 0%,#1d6271 100%);
	background:linear-gradient(#002233 0%,#1d6271 100%);
   padding: 8px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: white;
   font-size:12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   background: #28597a;
   color: #ccc;
   text-decoration:none;
   border:0px;
   }
.button:active {
   background: #1b435e;
   }
   	.button img{
	margin:0 5px 0 5px;
	}
#tut-portal-gereral-footer {
	font-size:12px;
}
#tut-portal-gereral-footer ul.copyright {
	font-weight:normal;
	font-size:100%;
	text-transform: none;
	font-weight:normal;
	float:none;
	text-align: center;
}
#tut-portal-gereral-footer ul.footer-menu {
	font-weight:normal;
	float: none;
	text-align: center;
	margin: 0;
}
.button-fb {
	margin: 10px 0 0 0;
	display: block;
	font-size: auto;
}
  .button-fb {
		background-color:#183971;
	background:-moz-linear-gradient(#183971 0%, #255291 100%);
	background:-webkit-gradient(color-stop(0%,#255291), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#183971 0%,#255291 100%);
	background:-o-linear-gradient(#183971 0%,#255291 100%);
	background:-ms-linear-gradient(#183971 0%,#255291 100%);
	background:linear-gradient(#183971 0%,#255291 100%);
  	padding: 11px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #fff;
   font-size:12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-fb:hover {
		background-color:#15346b;
	background:-moz-linear-gradient(#15346b 0%, #255291 100%);
	background:-webkit-gradient(color-stop(0%,#15346b), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#15346b 0%,#255291 100%);
	background:-o-linear-gradient(#15346b 0%,#255291 100%);
	background:-ms-linear-gradient(#15346b 0%,#255291 100%);
	background:linear-gradient(#15346b 0%,#255291 100%);
     color: #fff;
   text-decoration:none;
   border:0px;
   }
.button-fb:active {
   background: #1b435e;
   }
      	.button-fb img{
	margin:0 5px 0 5px;
	}
	ul.tut-portal-welcome-content li {
    border: 1px solid #6ab84b;
    display:block;

    height: auto;
    margin: 0 5px 10px 5px;
    padding: 70px 0 45px;
    text-align: center;
    width:100%;
}
#tut-portal-welcome-content {
	border: 0px solid #cbcbcb;
	height: auto;
	margin: 12px 0px 0 0px;
	background-color: #fff;
	overflow: visible;
	width:100%;
}
#tut-portal-content-placeholder {
	border: 1px solid #cbcbcb;
	min-width:100%;
	max-width: 100%;
	text-align:center
	height: auto;
	margin: 12px 0px 0 50px;
	float: left;
	background-color: #fff;
	overflow: hidden;
}
#tut-portal-content-placeholder table {
	display:inline-table;
	margin:0 auto;
	width:100%;	
}
#tut-portal-content-placeholder table tr td{
	text-align:center;	
}
#tut-portal-btns {
    border: 0 solid #ccc;
    bottom: 10px;
    display: inline-block;
    left: 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

}


@media screen and (min-width:960px) and (max-width:1024px) {
	body {
	   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	padding: 0px;
	text-align: center;
}
#tut-portal-main-container {
	border: 0px solid #000;
	width: 100%;
	height: 768px;
	margin: 0 auto;
}
#tut-portal-top-header {
	background-color: #eaf7ff;
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 0 0px 0px 0px;
}
#tut-portal-searh-bar {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
	float: left;
	min-width: 72%;
	max-width: 100%;
	height: auto;
	background-color: #bdd9f1;
	margin: 50px 0px 0 50px;
	border: 0px solid #414141;
	border-radius: 5px;
	padding: 0px;
	overflow: hidden;
	line-height: normal;
}
#search input[type="text"] {
	background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
	border: 0px solid #d1d1d1;
	font: normal 12px Arial, Helvetica, Sans-serif;
	color: #bebebe;
	width: 94%;
	height: auto;
	text-align: right;
	padding: 20px 10px 20px 15px;
	margin: 10px 10px 0px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#tut-portal-logo {
	float: right;
	margin: 40px 80px 0 0px;
	padding: 0 0 20px 0;
}
#tut-portal-home-body {
	background-color: #fff;
	height: auto;
	overflow: hidden;
	padding: 0px 10px;
	width: 95%;
}
#tut-portal-slider {
	float:left;
	margin:0;
}
#tut-portal-slider ul {
	display: inline-block;
}
#tut-portal-global-navigation {
	
	position:none;
	margin: 0 auto;
	width: 100%;
}
#tut-portal-global-navigation ul li {
	margin: 0 auto;
	display:block;
	width:100%;
}
#tut-portal-social-btn{
	margin: 0px auto;
	padding: 0px;
	display: inline;
}
#tut-portal-social-btn ul li {
	margin: 0px;
	display: inline;
	padding:0 10px 0 0;
	text-transform: none;
}
.button {
	border: 0px;
	text-align:center;
	margin: 0 0 0px 0;
	display:block;
	
}
.button {
		background-color:#002233;
	background:-moz-linear-gradient(#002233 0%, #1d6271 100%);
	background:-webkit-gradient(color-stop(0%,#002233), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#002233 0%,#1d6271 100%);
	background:-o-linear-gradient(#002233 0%,#1d6271 100%);
	background:-ms-linear-gradient(#002233 0%,#1d6271 100%);
	background:linear-gradient(#002233 0%,#1d6271 100%);
   padding: 8px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: white;
   font-size:12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   background: #28597a;
   color: #ccc;
   text-decoration:none;
   border:0px;
   }
.button:active {
   background: #1b435e;
   }
   	.button img{
	margin:0 5px 0 5px;
	}
#tut-portal-gereral-footer {
	font-size:12px;
}
#tut-portal-gereral-footer ul.copyright {
	font-weight:normal;
	font-size:100%;
	text-transform: none;
	font-weight:normal;
	float:right;
	text-align:right;
}
#tut-portal-gereral-footer ul.footer-menu {
	font-weight:normal;
	float: right;
	text-align: left;
	margin: 61px 0 0 14px;
}
.button-fb {
	margin:10px 0 0 0;
	display: block;
	font-size: auto;
}
  .button-fb {
		background-color:#183971;
	background:-moz-linear-gradient(#183971 0%, #255291 100%);
	background:-webkit-gradient(color-stop(0%,#255291), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#183971 0%,#255291 100%);
	background:-o-linear-gradient(#183971 0%,#255291 100%);
	background:-ms-linear-gradient(#183971 0%,#255291 100%);
	background:linear-gradient(#183971 0%,#255291 100%);
  	padding: 11px 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   color: #fff;
   font-size:12px;
   font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-fb:hover {
		background-color:#15346b;
	background:-moz-linear-gradient(#15346b 0%, #255291 100%);
	background:-webkit-gradient(color-stop(0%,#15346b), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#15346b 0%,#255291 100%);
	background:-o-linear-gradient(#15346b 0%,#255291 100%);
	background:-ms-linear-gradient(#15346b 0%,#255291 100%);
	background:linear-gradient(#15346b 0%,#255291 100%);
     color: #fff;
   text-decoration:none;
   border:0px;
   }
.button-fb:active {
   background: #1b435e;
   }
      	.button-fb img{
	margin:0 5px 0 5px;
	}
	ul.tut-portal-welcome-content li {
    border: 1px solid #6ab84b;
    clear: right;
    display: inline-block;
    float: left;
    height: auto;
    margin: 0 25px 10px 0;
    padding: 70px 0 45px;
    text-align: center;
    width: 153px;
}

}