@charset "utf-8";

/* 240 + 320px */

@media screen and (min-width:180px) and (max-width:360px) {
body {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	padding: 0px;
	text-align: center;
}
#tut-portal-main-container div {
	margin: 0px 0px 10px 0px;
}
#tut-portal-top-header {
	display: block;
	text-align: center;
	padding: 0 10px 0 10px;
}
#tut-portal-searh-bar {
	display: block;
	width: 95%;
	margin: 0 auto;
	float: none;
}
#tut-portal-searh-bar form {
	display: block;
	width: 89%;
}
#tut-portal-top-header {
	margin: 0px;
	width: 100%;
}
#tut-portal-logo {
	float: none;
	margin: 0 auto;
	padding: 10px;
}
#tut-portal-home-body {
	background-color: #fff;
	height: auto;
	overflow: hidden;
	padding: 0px 10px;
	width: 90%;
}
#tut-portal-slider {
	float: left;
	margin: 0;
}
#tut-portal-slider ul {
	display: inline-block;
}
#tut-portal-global-navigation {
	margin: 0 auto;
	width: 100%;
}
#tut-portal-global-navigation ul li {
	margin: 0 auto;
}
#tut-portal-social-btn {
	text-align: center;
}
.button {
	border: 0px;
	text-align: center;
	margin: 0 0 0px 0;
	display: block;
}
.button {
	background-color: #002233;
	background: -moz-linear-gradient(#002233 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #002233), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#002233 0%, #1d6271 100%);
	background: -o-linear-gradient(#002233 0%, #1d6271 100%);
	background: -ms-linear-gradient(#002233 0%, #1d6271 100%);
	background: linear-gradient(#002233 0%, #1d6271 100%);
	padding: 8px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	font-size: 12px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
	background: #28597a;
	color: #ccc;
	text-decoration: none;
	border: 0px;
}
.button:active {
	background: #1b435e;
}
.button img {
	margin: 0 5px 0 5px;
}
#tut-portal-gereral-footer {
	font-size: 12px;
}
#tut-portal-gereral-footer ul.copyright {
	font-weight: normal;
	font-size: 100%;
	text-transform: none;
	font-weight: normal;
	float: none;
	text-align: center;
}
#tut-portal-gereral-footer ul.footer-menu {
	font-weight: normal;
	float: none;
	text-align: center;
	margin: 0;
}
.button-fb {
	margin: 10px 0 0 0;
	display: block;
	font-size: auto;
}
.button-fb {
	background-color: #183971;
	background: -moz-linear-gradient(#183971 0%, #255291 100%);
	background: -webkit-gradient(color-stop(0%, #255291), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#183971 0%, #255291 100%);
	background: -o-linear-gradient(#183971 0%, #255291 100%);
	background: -ms-linear-gradient(#183971 0%, #255291 100%);
	background: linear-gradient(#183971 0%, #255291 100%);
	padding: 11px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	font-size: 12px;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}
.button-fb:hover {
	background-color: #15346b;
	background: -moz-linear-gradient(#15346b 0%, #255291 100%);
	background: -webkit-gradient(color-stop(0%, #15346b), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#15346b 0%, #255291 100%);
	background: -o-linear-gradient(#15346b 0%, #255291 100%);
	background: -ms-linear-gradient(#15346b 0%, #255291 100%);
	background: linear-gradient(#15346b 0%, #255291 100%);
	color: #fff;
	text-decoration: none;
	border: 0px;
}
.button-fb:active {
	background: #1b435e;
}
.button-fb img {
	margin: 0 5px 0 5px;
}
#tut-portal-content-placeholder {
	border: 1px solid #cbcbcb;
	width: 100%;
	height:auto;
	margin: 12px 0px 0 50px;
	float: none;
	background-color: #fff;
}
h2.cmn-title {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
}
#tut-portal-content-placeholder table {
	
	width:100%;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	height: auto;
	margin: 10px auto;
}
#tut-portal-content-placeholder table tr td {
	text-align: center;
	padding: 5px 10px 5px 10px;
	border: 0px;
}
#tut-portal-content-placeholder table tr td label {
	color: #666666;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
#tut-portal-btns {
	float:left;
	border: 0px solid #ccc;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

ul.tut-portal-welcome-content li {
    border: 1px solid #6ab84b;
    clear: right;
    display: inline-block;
 
    height: auto;
    margin: 0 5px 10px 5px;
    padding: 70px 0 45px;
    text-align: center;
    width:97%;
}


}
