/*Responsive CSS*/
	@media only screen and (min-width: 768px) and (max-width: 979px) {
		
	/* Checkout Page
	---------------------------------------------------------------------------------------------------------*/
#content-wrapper{padding-left:0;padding-right:0;}
#content{padding:0;}
.forcheckout {width:auto!important;}
.forcheckout .steps{width:91%!important;padding:4%;}
.forcheckout .steps .step-tabs {display:none;}
.forcheckout .steps .step_login{margin-left:0;padding:0;}
.forcheckout .steps .step_login .login-signup{width:auto!important;}
.forcheckout .steps .step_login .login-signup .label-text{float:none!important;padding:0;}
.forcheckout label{padding:0;}
.forcheckout .login-signup span.info{padding:0 0 0 22px; display:block;}
.forcheckout .radio-input{margin:3px 5px;}
.forcheckout .step_login .login-signup .details{padding:0;}
.forcheckout .step_login .login-signup .details .email-id{width:95%;}
.forcheckout .social-login {border-top: 1px dotted #CCCCCC;border-left: 0px dotted #CCCCCC;margin-top: 0px;padding-left: 10px;padding-top: 10px;width: 95%;}
.forcheckout .step_login .or{right:-109px; top:22px;}
.forcheckout .social-login .login-box{margin-top:10px;padding-bottom:0;}
.forcheckout .summary-right{margin:5px 0 0 0;width:99.7%;}
.forcheckout .step_address{margin-left:0;}
.forcheckout .step_address .new-address{width:194px;}
.forcheckout .step_address .heading{margin:0 0 10px;}
.forcheckout .step_address .enter-addr{padding-right:0;}
.forcheckout .enter-addr div input{width:95%;}
.forcheckout .enter-addr div select{width:100%;}
.forcheckout .step_address .enter-addr .btn.continue {width:auto;background: -moz-linear-gradient(center top , #0355A2, #08A5FB) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_address .enter-addr .btn.continue:hover {width:auto;background: -moz-linear-gradient(center top , #08A5FB, #0355A2) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_summary .heading{margin:0;}
.forcheckout .payment-bg{width:auto;background:none;border:0 none;}
.forcheckout .payment-all{width:auto;padding:0;}
.forcheckout #payment-tabs > ul{width:auto; margin:0;}
.forcheckout #payment-tabs > div{width:90%;min-height:inherit;}
.buttons{margin-top:0;padding:0;}
.forcheckout .step_payment .btn.continue{width:auto;background: -moz-linear-gradient(center top , #0355A2, #08A5FB) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_payment .btn.continue:hover{width:auto;background: -moz-linear-gradient(center top , #08A5FB, #0355A2) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_summary table{width:100%!important;}
.step_summary table tr:nth-child(1){display:none;}
.step_summary table tr:nth-child(2){display:none;}
.step_summary table tr:nth-child(3){display:none;}
.step_summary table tr:nth-child(4){display:none;}
.step_summary table tr:nth-child(5){display:none;}
.step_summary table tr:nth-child(6){line-height:10px;}
.radio tr{display:block!important;}
.summary-bottom table tr{display:block!important;}
.summary-bottom td{display:block!important;}
.forcheckout label{display:inline;font-size:12px;}
.forcheckout .step_address{padding:0;}
.forcheckout .step_address .new-address{width:auto;padding:0;}
.forcheckout .step_summary{margin:0;padding:0;}
#send_sms_mobile{width:95%;}
.forcheckout .summary-right .cod-summary .available{margin:0 auto;}
.forcheckout .step_payment{margin:0;padding:0;}
.step_payment .heading{margin:0 0 10px;}
.step_payment textarea{width:96%!important;}
.forcheckout .margintop10{margin-top:0;}
.summary-bottom label:nth-child(4) {display: inline-block;font-size: 9px;margin-bottom: 10px;}
}

	/* All Mobile Sizes */
	@media only screen and (max-width: 767px) {	}

	/* Mobile Landscape Size to Tablet Portrait */

	/* Mobile Portrait Size to Mobile Landscape Size */
	@media only screen and (min-width: 100px) and (max-width: 767px) {
	
	/* Checkout Page
	---------------------------------------------------------------------------------------------------------*/
#content-wrapper{padding-left:0;padding-right:0;}
#content{padding:0;}
.forcheckout {width:auto!important;}
.forcheckout .steps{width:91%!important;padding:4%;}
.forcheckout .steps .step-tabs {display:none !important;}
.forcheckout .steps .step_login{margin-left:0;padding:0;}
.forcheckout .steps .step_login .login-signup{width:auto!important;}
.forcheckout .steps .step_login .login-signup .label-text{float:none!important;padding:0;}
.forcheckout label{padding:0;}
.forcheckout .login-signup span.info{padding:0 0 0 22px; display:block;}
.forcheckout .radio-input{margin:3px 5px;}
.forcheckout .step_login .login-signup .details{padding:0;}
.forcheckout .step_login .login-signup .details .email-id{width:95%;}
.forcheckout .social-login {border-top: 1px dotted #CCCCCC;border-left: 0px dotted #CCCCCC;margin-top: 0px;padding-left: 10px;padding-top: 10px;width: 95%;}
.forcheckout .step_login .or{right:-109px; top:22px;}
.forcheckout .social-login .login-box{margin-top:10px;padding-bottom:0;}
.forcheckout .summary-right{margin:5px 0 0 0;width:99.7%;}
.forcheckout .step_address{margin-left:0;}
.forcheckout .step_address .new-address{width:194px;}
.forcheckout .step_address .heading{margin:0 0 10px;}
.forcheckout .step_address .enter-addr{padding-right:0;}
.forcheckout .enter-addr div input{width:95%;}
.forcheckout .enter-addr div select{width:100%;}
.forcheckout .step_address .enter-addr .btn.continue {width:auto;background: -moz-linear-gradient(center top , #0355A2, #08A5FB) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_address .enter-addr .btn.continue:hover {width:auto;background: -moz-linear-gradient(center top , #08A5FB, #0355A2) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_summary .heading{margin:0;}
.forcheckout .payment-bg{width:auto;background:none;border:0 none;}
.forcheckout .payment-all{width:auto;padding:0;}
.forcheckout #payment-tabs > ul{width:auto; margin:0;}
.forcheckout #payment-tabs > div{width:90%;min-height:inherit;}
.buttons{margin-top:0;padding:0;}
.forcheckout .step_payment .btn.continue{width:auto;background: -moz-linear-gradient(center top , #0355A2, #08A5FB) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_payment .btn.continue:hover{width:auto;background: -moz-linear-gradient(center top , #08A5FB, #0355A2) repeat scroll 0 0 rgba(0, 0, 0, 0);}
.forcheckout .step_summary table{width:100%!important;}
.forcheckout .steps .step-tabs {display:none !important;}
.step_summary table tr:nth-child(1){display:none;}
.step_summary table tr:nth-child(2){display:none;}
.step_summary table tr:nth-child(3){display:none;}
.step_summary table tr:nth-child(4){display:none;}
.step_summary table tr:nth-child(5){display:none;}
.step_summary table tr:nth-child(6){line-height:10px;}
.radio tr{display:block!important;}
.summary-bottom table tr{display:block!important;}
.summary-bottom td{display:block!important;}
.forcheckout label{display:inline;font-size:12px;}
.forcheckout .step_address{padding:0;}
.forcheckout .step_address .new-address{width:auto;padding:0;}
.forcheckout .step_summary{margin:0;padding:0;}
#send_sms_mobile{width:95%;}
.forcheckout .summary-right .cod-summary .available{margin:0 auto;}
.forcheckout .step_payment{margin:0;padding:0;}
.step_payment .heading{margin:0 0 10px;}
.step_payment textarea{width:96%!important;}
.forcheckout .margintop10{margin-top:0;}
.summary-bottom label:nth-child(4) {display: inline-block;font-size: 9px;margin-bottom: 10px;}
 .forcheckout .step_address .new-address {width: 240px !important;}
 #content{padding:0;
 
 
 }
}