/* body {
	width: 610px;
	margin: 0 auto;
} */

#contact-box {
	position: absolute;
	left: 330px;
	top: 100px;
	height: 100px;
	margin-left: 1000px;
}

#btnContact {
	//background: #00DEFF;
	//float: left;
	//padding: 15px;
	cursor: pointer;
	//border-bottom-left-radius: 5px;
	//border-top-left-radius: 5px;
}

/* #frmContact {
	//background: #FAF8F8;
	padding: 15px;
	display: none;
	float: right; 
}

#frmContact div {
	margin-bottom: 15px;
	padding-left: 100px;
	
}

#frmContact div label {
	margin-left: 5px
}

.demoInputBox {
	padding: 10px;
	border: #F0F0F0 1px solid;
	border-radius: 4px;
	margin-left: -150px;
}

.error {
	background-color: #FF6600;
	border: #AA4502 1px solid;
	padding: 5px 10px;
	color: #FFFFFF;
	border-radius: 4px;
}

.success {
	background-color: #12CC1A;
	border: #0FA015 1px solid;
	padding: 5px 10px;
	color: #FFFFFF;
	border-radius: 4px;
}

.info {
	font-size: .8em;
	color: #FF6600;
	letter-spacing: 2px;
	padding-left: 5px;
}

.btnAction {
	background-color: #2FC332;
	border: 0;
	padding: 10px 40px;
	color: #FFF;
	border: #F0F0F0 1px solid;
	border-radius: 4px;
}

.txt-content {
	border-left: #F0F0F0 1px solid;
	padding: 5px 20px;
	margin-top: 100px;
}
#new{
	
	position: fixed;
}
#email{
	margin-left: -120px;
} */