/*Author: Prabhat SinghSupercheckout*/



.forcheckout input[type="text"],select{

	width:210px;

    border: 1px solid #CCCCCC;

    font-family: tahoma,verdana,arial,sans-serif;

    font-size: 13px;

    padding: 5px;

    resize: none;

}

.forcheckout {

	width:970px;

	overflow:hidden;
		margin-left:auto;
	margin-right:auto;

}

.forcheckout .steps{

	float:left;

	border:1px solid #CCCCCC;

	width:740px;

	min-height:270px;

	padding:2px;

}

.forcheckout .steps ul.step-tabs{

	list-style:none;

	margin:0;

	padding: 0;

}

.forcheckout .steps .step-tabs li{

	float:left;

	background:url("../image/forcheckout/checkout-header.png") no-repeat scroll 100% 0 transparent;

}

.forcheckout .steps .step-tabs li.login-hover:hover {

	cursor:pointer;

	background-position:0 0;

}

.forcheckout .steps .step-tabs li.address-hover:hover {

	cursor:pointer;

	background-position:-517px 0;

}

.forcheckout .steps .step-tabs li.summary-hover:hover {

	cursor:pointer;

	background-position:-997px 0;

}

.forcheckout .steps .step-tabs li.login-sel{

	background-position:-118px 0;

	float: left;

    height: 31px;

    width: 117px;

}

.forcheckout .steps .step-tabs li.login-unsel{

    background-position: -236px 0;

    height: 31px;

    width: 117px;

}

.forcheckout .steps .step-tabs li.address-sel{

    background-position: -680px 0;

    height: 31px;

    width: 162px;

}

.forcheckout .steps .step-tabs li.address-unsel{

    background-position: -354px 0;

    height: 31px;

    width: 162px;

}

.forcheckout .steps .step-tabs li.summary-sel{

    background-position: -1151px 0;

    height: 31px;

    width: 153px;

}

.forcheckout .steps .step-tabs li.summary-unsel{

    background-position: -843px 0;

    height: 31px;

    width: 153px;

}

.forcheckout .steps .step-tabs li.payment-sel{

    background-position: 0 -32px;

    height: 31px;

    width: 130px;

}

.forcheckout .steps .step-tabs li.payment-unsel{

    background-position: -1305px 0;

    height: 31px;

    width: 278px;

}

.forcheckout .steps .step-tabs li.arrow-current{

    background-position: -627px -32px;

    height: 31px;

    width: 10px;

}

.forcheckout .steps .step-tabs li.arrow-next{

    background-position: -638px -32px;

    height: 31px;

    width: 10px;

}

.forcheckout .steps .step-tabs li.arrow-prev{

    background-position: -649px -32px;

    height: 31px;

    width: 10px;

}

.forcheckout .steps .step_login{

	margin-left:5px;

	padding:20px 0;

	overflow: hidden;

}

.forcheckout .clear{

	clear: both;

	height: 1px;

	overflow: hidden;

	font-size:0pt;

	margin-top: -1px;

	border:none;

}

.forcheckout .steps .step_login .login-signup{

	width:60%;

	float:left;

}

.forcheckout .steps .step_login .login-signup .label-text{

	float:left;

	text-align:left;

	padding-left:5px;

	padding-top:10px;

}

.forcheckout label{

	font-weight:bold;

	padding-left:5px;

}

.forcheckout .step_login .login-signup .details{

	margin:0;

	float:none;

	overflow:hidden;

	padding-left:10px;

	padding-top:5px;

}

.forcheckout .login-signup .details input[type="text"]{

	width:210px;

    border: 1px solid #CCCCCC;

    font-family: tahoma,verdana,arial,sans-serif;

    font-size: 13px;

    padding: 5px;

    resize: none;

}

.forcheckout .login-signup span.info{

	display:inline-block;

	margin-top:5px;

	padding-left:22px;

}

.forcheckout .login-signup span.info.email{

	display:inline-block;

	margin-top:5px;

	padding-left:0;

}

.forcheckout .margintop10{

	margin-top:10px;

}

.forcheckout .radio-input{

	float:left;

}

.forcheckout .btn.orange{

	background:-moz-linear-gradient(center top , #00a1fa, #007ec3) repeat scroll 0 0 transparent;

	background:-webkit-gradient(linear,left top,left bottom,from(#00a1fa),to(#007ec3));

}

.forcheckout .btn.orange:hover{

	background:-moz-linear-gradient(center top , #08a5fb, #0355a2) repeat scroll 0 0 transparent;

	background:-webkit-gradient(linear,left top,left bottom,from(#006acc),to(#0355a2));

}

.forcheckout .btn.continue{

	font-size: 16px;

	font-weight:bold;

}

.forcheckout .btn{

	border: 0 none;

    border-radius: 4px 4px 4px 4px;

    color: #FFFFFF;

    cursor: pointer;

    display: inline-block;

    font-family: inherit;

    font-size: 13px;

    font-weight: bold;

    padding: 5px 15px;

    text-decoration: none;

    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

}

.forcheckout .password label{

	font-weight:normal;

}

.forcheckout a.{

	color: #004B91;

    cursor: pointer;

	text-decoration:none;

}

.forcheckout .password a.forgot{

	text-decoration: none;

	font-size:11px;

}

.forcheckout .password span{

	text-align:right;

}

.forcheckout .f-normal{

	font-weight:normal;

}

.forcheckout .lastdetail{

	padding:5px 5px 5px 15px;

	overflow:hidden;

}

.forcheckout .step_login .or{

    background: url("../image/forcheckout/icons-sprite.png") no-repeat scroll -54px -39px transparent;

    height: 42px;

    position: relative;

    right: -21px;

    top: 65px;

    width: 42px;

	float:left;

}

.forcheckout .social-login{

	float:left;

	padding-left:40px;

	padding-top:10px;

	border-left:1px dotted #CCCCCC;

}

.forcheckout .social-login .login-box{

	overflow:hidden;

	/*margin-top:35px;*/

	padding-bottom:96px;

}

.forcheckout .fb-login .fb-btn{

	background: url("../image/forcheckout/icons-sprite.png") no-repeat scroll -1px -184px transparent;

    border: 0 none;

    cursor: pointer;

    display: inline-block;

    height: 28px;

    width: 136px;

}

.forcheckout-register
{
background: url("../image/forcheckout/register-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display:inline-block;
height:30px;
width:145px;
}

/*Shipping Address*/

.forcheckout .step_address{

	padding:20px 0;

	margin-left:5px;

	text-align:left;

}

.forcheckout .step_address .or{

	float:right;

	width:40px;

	font-size: 16px;

	text-align:center;

}

.forcheckout .step_address .or b{

	float:left;

}

.forcheckout .step_address .or span{

    border-left: 1px solid #333333;

    margin-top: 10px;

    min-height: 370px;

    width: 60%;

	float: right;

}

.forcheckout .step_address .prev-addresses{

	width:54%;

	float:left}

.forcheckout .step_address .heading{

	font-size:16px;

	margin:0 0 10px 5px;

}

.forcheckout .step_address .prev-addr{

	overflow:hidden;

}

.forcheckout .step_address .prev-addr .address:hover{

	cursor:pointer;

	background-image: url("../image/forcheckout/click-to-select-hover.png");

}

.forcheckout .step_address .prev-addr .address{

    background-image: url("../image/forcheckout/click-to-select.png");

    background-position: left bottom;

    background-repeat: no-repeat;

    border: 2px solid #A5A296;

    border-radius: 3px 3px 3px 3px;

    color: #333333;

    margin: 5px;

    padding: 8px;

    width: 150px;

    word-wrap: break-word;

	float:left;

}

.forcheckout .step_address .new-address{

	width: 310px;

	margin:0 auto;

	overflow:hidden;

}

.forcheckout .step_address label{

	font-weight:normal;

	padding:5px 0 0 0;

	display:inline-block;

}

.forcheckout .step_address .enter-addr{

	padding-right:15px;

}

.forcheckout .step_address .enter-addr div{

	overflow:hidden;

}

.forcheckout .enter-addr div select{

	width:228px;

	float:right;

}

.forcheckout .enter-addr div input{

	float:right;

	width:220px;

}

.forcheckout .step_address .enter-addr .btn.continue{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -78px transparent;

	height: 38px;

    width: 218px;

	padding-bottom:12px;

    padding-right: 30px;
    
    transition : none 0s ease 0s;

}

.forcheckout .step_address .enter-addr .btn.continue:hover{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -117px transparent;

}

.forcheckout .step_address em{

	font-style:normal;

	padding-left:5px;

	color:#CF4542;

}



/*Summary*/

.forcheckout .step_summary{

	padding:20px 0;

	margin-left:5px;

	text-align:left;

	overflow:hidden;

}

.forcheckout .step_summary .heading{

	font-size:16px;

}

.forcheckout .step_summary .message, .step_summary .attention {

    border-bottom: 1px solid #FFD324;

    border-top: 1px solid #FFD324;

	color: #514721;

    margin: 5px 0;

    padding: 5px;

	background: none repeat scroll 0 0 #FFF6BF;

}

.forcheckout .step_summary .warning{

    border-bottom: 1px solid #FFD324;

    border-top: 1px solid #FFD324;

	color: #514721;

    margin: 5px 0;

    padding: 5px;

	background: none repeat scroll 0 0 #FFF6BF;

}

.forcheckout .step_summary .success{

    border-bottom: 1px solid #FFD324;

    border-top: 1px solid #FFD324;

	color: #514721;

    margin: 5px 0;

    padding: 5px;

	background: none repeat scroll 0 0 #FFF6BF;

}

.forcheckout .step_summary table{

	float:left;

}

.forcheckout .step_summary table tbody th{

	padding:5px 0;

}

.forcheckout .step_summary table tbody th.hcol_0{

	width:10px;

}

.forcheckout .step_summary table tbody th.htype{

	width:50px;

}

.forcheckout .step_summary table tbody th.hitem{

	width:250px;

}

.forcheckout .step_summary table tbody th.hdelivery{

	width:90px;

}

.forcheckout .step_summary table tbody th.hprice{

    padding-right: 20px;

	text-align:right;



	width:110px;

}

.forcheckout .step_summary table tbody th.hqty{

	width:60px;

}

.forcheckout .step_summary table tbody th.hsubtotal{

	text-align:center;

	width:110px;

}

.forcheckout .step_summary table tbody th.hremove{

	width:10px;

}

.forcheckout .step_summary table tbody td.col_0{

	background-color: #C7E7F0;

    border-bottom: 1px solid #C7E7F0;

    border-top: 1px solid #C7E7F0;

}

.forcheckout .step_summary table tbody tr.cart-item td.col_1{

	padding-left:5px;

}

.forcheckout .step_summary table tbody th.col_1{

	padding-left:5px;

}

.forcheckout .step_summary table tbody tr.cart-item{

    background-color: #F0F5F6;

    color: #333333;

}

.forcheckout .step_summary table tbody tr.cart-item td{

    border-bottom: 1px solid #CCCCCC;

    border-top: 1px solid #CCCCCC;

	padding:10px 5px 10px 0;

	vertical-align:top;

}

.forcheckout .step_summary table tbody tr td span{

	display:block;

}

.forcheckout .step_summary table tbody td.subtotal{

    font-weight:bold;

	text-align:center;

}

.forcheckout .step_summary table tbody td.price{

    padding-right: 20px;

	text-align:right;

}

.forcheckout .step_summary table tbody td.remove{

	width:10px;

	vertical-align: top;

}

.forcheckout .step_summary table tbody td.remove span a{

    background:url("../image/forcheckout/remove-item.png") no-repeat scroll transparent;

	height: 18px;

    width: 18px;

	text-decoration:none;

	display:block;

}

.forcheckout .step_summary table tbody td.sep-bottom{

	height:10px;

	border-top:1px solid #A5A296;

}

.forcheckout .dummy{

	height:10px;

}

.forcheckout .step_summary table tbody tr.totals td{

	vertical-align:top;

	padding:0;

}

.forcheckout .totals .head{

	text-align:right;

}

.forcheckout .totals td{

	text-align:right;

}

.forcheckout .payable .head{

	text-align:right;

	font-size:18px;

	font-weight:bold;

}

.forcheckout .payable td{

	text-align:right;

	font-size:18px;

	font-weight:bold;

}

.forcheckout .summary-bottom input[type="text"]{

	width:auto;

}

.forcheckout .summary-bottom .btn.continue{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -78px transparent;

	height: 38px;

    width: 218px;

	padding-bottom:12px;

    padding-right: 30px;
    
    transition : none 0s ease 0s;

}

.forcheckout .summary-bottom .btn.continue:hover{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -117px transparent;

}

/*Shipping Address*/

.forcheckout .step_payment{

	padding:20px 0;

	margin-left:5px;

	text-align:left;

	overflow:hidden;

}

.forcheckout .step_payment .heading{

	font-size:16px;

}

.forcheckout .payment-bg{

    background: url("../image/forcheckout/payment-bg.png") repeat scroll 0 0 transparent;

    border: 1px solid #CCCCCC;

    width: 760px;

}

.forcheckout .payment-all{

	width:725px;

	padding:5px;

	overflow:hidden;

}

.forcheckout #payment-tabs > ul > li{

    background: -moz-linear-gradient(center top , #F3F3FF, #DBE4F7) repeat scroll 0 0 transparent;

	background:-webkit-gradient(linear,left top,left bottom,from(#FFFCF3),to(#F7F1DB));

    border-bottom-left-radius: 5px;

    border-color: #0486CC #9A96A5 #0486CC #0486CC;

    border-style: solid;

    border-top-left-radius: 5px;

    border-width: 1px 1px 2px;

    font-size: 120%;

		margin: 5px 0;

    padding: 10px;

    cursor:pointer;

}

.forcheckout #payment-tabs > ul > li.selected {

	-moz-border-bottom-colors: none;

    -moz-border-left-colors: none;

    -moz-border-right-colors: none;

    -moz-border-top-colors: none;

    background: #FFFFFF;

    border-bottom-left-radius: 5px;

    border-color: #A5A296 -moz-use-text-color #A5A296 #A5A296;

    border-image: none;

    border-style: solid none solid solid;

    border-top-left-radius: 5px;

    border-width: 1px 0 1px 1px;

    font-size: 120%;

    font-weight: bold;

	position:relative;

	z-index:10;

}

.forcheckout #payment-tabs > ul {

    float: left;

    display: block;

    padding: 0;

    top: 30px;

	width:154px;

	list-style: none outside none;

}

.forcheckout #payment-tabs > div {

	width:524px;

	float:right;

	margin-left: -1px;

    background-color: #FFFFFF;

    border: 1px solid #A5A296;

    min-height: 200px;

    padding: 10px;

    position: relative;

    z-index: 9;

    -moz-border-radius: 20px;

}

.forcheckout #payment-tabs > div > h4 {

    border-bottom: 1px solid #A5A296;

    font-size: 13px;

    padding-bottom: 10px;

	font-weight:normal;

	margin:0;

}

.forcheckout #payment-tabs .cod{

	padding: 0 30px;

}

.forcheckout #payment-tabs .cod p{

	font-weight:bold;

}

.forcheckout #payment-tabs .cod .cod-total{

	color:#CC1100;

}

.forcheckout .verify-cod{

	overflow:hidden;

}

.forcheckout .verify-cod .text{

    height: 111px;

    width: 55%;

	float:left;

	padding:0 20px;

	background: url("../image/forcheckout/cod-captcha.png") no-repeat scroll right 0 #F5F9F9;

}

.forcheckout #payment-tabs .cod .verify-cod .text p{

	font-weight:normal;

	margin:10px 0;

}

.forcheckout #payment-tabs .cod .verify-cod .text small{

	font-size:11px;

	color:#888888;

}

.forcheckout .verify-cod .captcha{

	float:none;

	background:#F5F9F9;

}

.forcheckout .step_payment .btn.continue{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -78px transparent;

	height: 38px;

    width: 218px;

	padding-bottom:12px;

    padding-right: 30px;
    
    transition : none 0s ease 0s;

}

.forcheckout .step_payment .btn.continue:hover{

	background:url("../image/forcheckout/save-n-cont.png") no-repeat scroll 0 -117px transparent;

}

.forcheckout .step_payment .cod-confirm{

	float:right;

}

/*Right Bar Summary*/

.forcheckout .summary-right{

	float: left;

    margin: 0 0 0 5px;

    width: 185px;

}

.forcheckout .summary-right .cod-summary{

    padding: 5px 0px;

}

.forcheckout .summary-right .cod-summary .available {

	height:110px;

	width:185px;

    background:url("../image/forcheckout/cod-available.png")}

.forcheckout .summary-right .cod-summary .not-available {

	height:110px;

	width:185px;

    background:url("../image/forcheckout/cod-not-available.png")}

.forcheckout .summary-right .cod-summary .not-found {

	height:110px;

	width:185px;

    background:url("../image/forcheckout/cod-not-found.png")}

.forcheckout .summary-right .order-summary{

	border: 1px solid #CCCCCC;

    padding: 5px;

}

.forcheckout .summary-right .order-summary .heading{

	border-bottom: 1px solid #A5A296;

    font-size: 13px;

    font-weight: bold;

    margin: 3px 5px;

    padding-bottom: 5px;

}

.forcheckout .summary-right .address-summary{

	border: 1px solid #CCCCCC;

    padding: 5px;

	margin-top:10px;

}

.forcheckout .summary-right .address-summary .heading{

    font-size: 13px;

    font-weight: bold;

    margin: 3px 5px;

}

.forcheckout .summary-right .change-addr{

	cursor: pointer;

    font-size: 12px;

    font-weight: normal;

	color: #004B91;

	    text-decoration: none;

	margin: 3px 5px;

	padding-bottom:3px;

	border-bottom: 1px solid #A5A296;

}

.forcheckout .summary-right .address{

    color: #333333;

    margin: 5px;

    word-wrap: break-word;

}

.forcheckout .cod_header {

	font-size:14px;

	background-color:#efefef;

	padding:20px;

}

.forcheckout .cod_verify {

	background-color: #FFFFFF;

    border: 7px solid #E3EAF1;

    font-size: 16px;

    padding: 25px;

}

.forcheckout .step_address .error {



	display:inline-block;

}

.forcheckout .input[type="radio"] {

	margin-left:-2px !important;

	

}
.forcheckout .step_address .new-address
{
width:330px !important;
}
.forcheckout .steps .step-tabs li.payment-unsel {
	width:271px !important;
}