#searchbox
{
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 502px;
    height: 56px;
    padding: 10px;  
    overflow: hidden; /* Clear floats */
}
#search, 
#submit {
    float: left;
}

#search {
    padding: 5px 9px;
    height: 34px;
    width: 380px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}
#search::-webkit-input-placeholder {
   color: #9c9c9c;
   font-style: italic;
}

#search:-moz-placeholder {
   color: #9c9c9c;
   font-style: italic;
}  

#search:-ms-placeholder {
   color: #9c9c9c;
   font-style: italic;
}
#search.placeholder {
   color: #9c9c9c !important;
   font-style: italic;
}




/*NEW IMP  */

/*************************
*******Typography******
**************************/
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100)
	;

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700)
	;

@import url(http://fonts.googleapis.com/css?family=Abel);

body {
	font-family: 'Roboto', sans-serif;
	background:;
	position: relative;
	font-weight: 400px;
}

ul li {
	list-style: none;
}

a:hover {
	outline: none;
	text-decoration: none;
}

a:focus {
	outline: none;
	outline-offset: 0;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
}

.btn:hover,.btn:focus {
	outline: none;
	box-shadow: none;
}

.navbar-toggle {
	background-color: #000;
}

a#scrollUp {
	bottom: 0px;
	right: 10px;
	padding: 5px 10px;
	background: #FE980F;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite;
}

a#scrollUp i {
	font-size: 30px;
}

/*************************
*******Header CSS******
**************************/
.header_top {
	background: none repeat scroll 0 0 #F0F0E9;
}

.contactinfo ul li:first-child {
	margin-left: -15px;
}

.contactinfo ul li a {
	font-size: 12px;
	color: #696763;
	font-family: 'Roboto', sans-serif;
}

.contactinfo ul li a:hover {
	background: inherit;
}

.social-icons ul li a {
	border: 0 none;
	border-radius: 0;
	color: #696763;
	padding: 0px;
}

.social-icons ul li {
	display: inline-block;
}

.social-icons ul li a i {
	padding: 11px 15px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
	color: #fff;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
	background: #0083C9;
}

.fa-twitter:hover {
	background: #5BBCEC;
}

.fa-linkedin:hover {
	background: #FF4518;
}

.fa-dribbble:hover {
	background: #90C9DC;
}

.fa-google-plus:hover {
	background: #CE3C2D;
}

.header-middle .container .row {
	border-bottom: 1px solid #f5f5f5;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 20px;
	padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
	padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right: 0;
}

.usa {
	border-radius: 0;
	color: #B4B1AB;
	font-size: 12px;
	margin-right: 20px;
	padding: 2px 15px;
	margin-top: 10px;
}

.usa:hover {
	background: #FE980F;
	color: #fff;
	border-color: #FE980F;
}

.usa:active,.usa.active {
	background: none repeat scroll 0 0 #FE980F;
	box-shadow: inherit;
	outline: 0 none;
}

.btn-group.open .dropdown-toggle {
	background: rgba(0, 0, 0, 0);
	box-shadow: none;
}

.dropdown-menu  li  a:hover,.dropdown-menu  li  a:focus {
	background-color: #FE980F;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.shop-menu ul li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.shop-menu ul li:last-child {
	padding-right: 0;
}

.shop-menu ul li a {
	background: #FFFFFF;
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
	padding-right: 0;
	margin-top: 10px;
}

.shop-menu ul li a i {
	margin-right: 3px;
}

.shop-menu ul li a:hover {
	color: #fe980f;
	background: #fff;
}

.header-bottom {
background-color: green;
}

.navbar-collapse.collapse {
	padding-left: 0;
}

.mainmenu ul li {
	padding-right: 15px;
	padding-left: 15px;
}

.mainmenu ul li:first-child {
	padding-left: 0px;
}

.mainmenu ul li a {
    color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover,.mainmenu ul li a.active,.shop-menu ul li a.active
	{
	background: none;
	color: #fdb45e;
}

.search_box input {
	background: #F0F0E9;
	border: medium none;
	color: #B2B2B2;
	font-family: 'roboto';
	font-size: 12px;
	font-weight: 300;
	height: 35px;
	outline: medium none;
	padding-left: 10px;
	width: 155px;
	background-image: url(../images/home/searchicon.png);
	background-repeat: no-repeat;
	background-position: 130px;
}

/*  Dropdown menu*/
.navbar-header 
.navbar-toggle .icon-bar {
	background-color: #fff;
}

.nav.navbar-nav>li:hover>ul.sub-menu {
	display: block;
	-webkit-animation: fadeInUp 400ms;
	-moz-animation: fadeInUp 400ms;
	-ms-animation: fadeInUp 400ms;
	-o-animation: fadeInUp 400ms;
	animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active {
	color: #FDB45E;
	padding-left: 0;
}

.navbar-nav li ul.sub-menu li {
	padding: 10px 20px 0;
}

.navbar-nav li ul.sub-menu li:last-child {
	padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a {
	color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover {
	color: #FDB45E;
}

.fa-angle-down {
	padding-left: 5px;
}

@
-webkit-keyframes fadeInUp { 0% {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}

100%
{
opacity
:
 
1;
-webkit-transform
:
 
translateY
(0);

    
transform
:
 
translateY
(0);

  
}
}

/*************************
*******Footer CSS******
**************************/
#footer {
	background: #F0F0E9;
}

.footer-top .container {
	border-bottom: 1px solid #E0E0DA;
	padding-bottom: 20px;
}

.companyinfo {
	margin-top: 57px;
}

.companyinfo h2 {
	color: #B4B1AB;
	font-family: abel;
	font-size: 27px;
	text-transform: uppercase;
}

.companyinfo h2  span {
	color: #FE980F;
}

.companyinfo p {
	color: #B3B3AD;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
}

.footer-top .col-sm-3 {
	overflow: hidden;
}

.video-gallery {
	margin-top: 57px;
	position: inherit;
}

.video-gallery a img {
	height: 100%;
	width: 100%;
}

.iframe-img {
	position: relative;
	display: block;
	height: 61px;
	margin-bottom: 10px;
	border: 2px solid #CCCCC6;
	border-radius: 3px;
}

.overlay-icon {
	position: absolute;
	top: 0;
	width: 100%;
	height: 61px;
	background: #FE980F;
	border-radius: 3px;
	color: #FFF;
	font-size: 20px;
	line-height: 0;
	display: block;
	opacity: 0;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.overlay-icon i {
	position: relative;
	top: 50%;
	margin-top: -20px;
}

.video-gallery a:hover .overlay-icon {
	opacity: 1;
}

.video-gallery p {
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0px;
}

.video-gallery  h2 {
	color: #8c8c88;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 0px;
}

.address {
	margin-top: 30px;
	position: relative;
	overflow: hidden;
}

.address  img {
	width: 100%;
}

.address p {
	color: #666663;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	left: 25px;
	position: absolute;
	top: 50px;
}

.footer-widget {
	margin-bottom: 68px;
}

.footer-widget .container {
	border-top: 1px solid #FFFFFF;
	padding-top: 15px;
}

.single-widget h2 {
	color: #666663;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 22px;
	text-transform: uppercase;
}

.single-widget h2 i {
	margin-right: 15px;
}

.single-widget ul li a {
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.single-widget ul li a i {
	margin-right: 18px;
}

.single-widget ul li a:hover {
	background: none;
	color: #FE980F;
}
.searchform input {
	border: 1px solid #DDDDDD;
	color: #CCCCC6;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: 0;
	outline: medium none;
	padding: 7px;
	width: 212px;
}

.searchform button {
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	margin-left: -5px;
	margin-top: -3px;
	padding: 7px 17px;
}

.searchform button i {
	color: #FFFFFF;
	font-size: 20px;
}

.searchform  button:hover,.searchform  button:focus {
	background-color: #FE980F;
}

.searchform p {
	color: #8C8C88;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-top: 25px;
}