


/* Call To Action - Best used as a full width banner */

.calltoaction{display:block; padding:30px; text-transform:uppercase; font-size:1em; color:#000000; background-color:#EFEFEF;}
#container .calltoaction h1{margin:0 0 12px 0; padding:0; font-size:2.5em; text-transform:uppercase;}
.calltoaction p{margin:0; padding:0; line-height:1.4em; text-transform:none;}
.calltoaction .button{display:block; text-align:center; line-height:1.4em;}

.calltoaction.opt1{border:solid #FF9900; border-width:0 0 0 5px;}
.calltoaction.opt2{border:solid #FF9900; border-width:0 5px 0 0;}
.calltoaction.opt3{border:solid #FF9900; border-width:0 5px;}
.calltoaction.opt4{border:solid #FF9900; border-width:2px 0; font-size:1.8em;}
#container .calltoaction.opt4 h1{margin:15px 0 0 0;}

/* Lists - For ul + ol */

.list{margin:10px 0; padding:0; list-style-position:inside;}
.list.indent{margin-left:20px;}
.list li{margin:6px 0 0 0; padding:0;}
.list li:first-child{margin:0;}
.list li > ul, .list li > ol{margin:8px 0 8px 30px;}

.list.disc{list-style-type:disc;}
.list.roman{list-style-type:upper-roman;}
.list.alpha{list-style-type:upper-alpha;}
.list.decimal{list-style-type:decimal;}
.list.circle{list-style-type:circle;}
.list.none, .list.block, .list.tick, .list.arrow, .list.tagcloud, .list.underline{list-style-type:none;}
.list.block li > ul, .list.block li > ol{padding:0 0 0 10px; list-style:none; border-left:1px solid #CCCCCC;}

.list.tick li, .list.arrow li{padding-left:22px; background:no-repeat 0 2px;}
.list.tick li{background-image:url("images/icons/gemicon/tick-16x16.png");}
.list.arrow li{background-image:url("images/icons/gemicon/arrow-16x16.png");}

.list.underline li{margin-bottom:8px; padding-bottom:8px; border-bottom:1px solid #E5E4E3;}
.list.underline li:last-child{margin-bottom:0;}

.list.tagcloud li{display:inline-block; margin:0 5px 5px 0;}
.list.tagcloud li a{display:block; padding:4px 10px; color:#FFFFFF; background-color:#A8A8A8; text-transform:capitalize;}
.list.tagcloud li a:hover{color:#FFFFFF; background-color:#FF9900;}

/* Base Colours */

.blue{color:#56AED4;}
.green{color:#C0E079;}
.grey{color:#A8A8A8;}
.dkgrey{color:#333333;}
.orange{color:#FF9900;}
.purple{color:#9F81A9;}
.red{color:#D54346;}
.yellow{color:#FDE803;}

.bg_blue{color:#FFFFFF; background-color:#56AED4;}
.bg_green{color:#FFFFFF; background-color:#C0E079;}
.bg_grey{color:#FFFFFF; background-color:#A8A8A8;}
.bg_dkgrey{color:#FFFFFF; background-color:#333333;}
.bg_orange{color:#FFFFFF; background-color:#FF9900;}
.bg_purple{color:#FFFFFF; background-color:#9F81A9;}
.bg_red{color:#FFFFFF; background-color:#D54346;}
.bg_yellow{color:#666666; background-color:#FDE803;}

/* Dividers */

.divider1, .divider2, .divider3{display:block; width:100%; height:20px; margin:30px 0; padding:0; border-top:1px #D6D6D6; clear:both;}
.divider1{border-top-style:solid;}
.divider2{border-top-style:dotted;}
.divider3{border-top-style:dashed;}

/* Buttons */

.button{display:inline-block; border:1px solid; font-weight:normal; text-transform: capitalize;}

.button.gradient{
	background:-moz-linear-gradient(top); background:-webkit-gradient(linear, left top, left bottom); background:-webkit-linear-gradient(top); background:-o-linear-gradient(top); background:-ms-linear-gradient(top); background:linear-gradient(to bottom);
	text-shadow:2px 3px 0 rgba(30, 30, 30, 0.2);
	-moz-transition:color .3s ease-in, -moz-transform .3s ease-in; -webkit-transition:color .3s ease-in, -webkit-transform .3s ease-in; -o-transition:color .3s ease-in, -o-transform .3s ease-in; transition:color .3s ease-in, transform .3s ease-in;
	}

.button.small{font-size:.9em; padding:6px 15px 5px 15px;}
.button.medium{font-size:1.1em; padding:10px 20px 9px 20px;}
.button.large{font-size:1.4em; font-weight:normal; padding:18px 20px 17px 20px;}

/* To create the SVG gradient colour support for IE9 visit: http://ie.microsoft.com/testdrive/graphics/svggradientbackgroundmaker/default.html */
.button.orange{color:#FFFFFF; background-color:#4e98a5; border:0px;}
.button.orange:hover{color:#f5866c; background-color:#002233; border:0px; text-decoration:none;}
.button.orange.gradient{
			margin:0px 0 12px 0;padding:20px 20px 20px 20px;
		display:block;
		border-radius: 5px;
		width:auto;
		text-align:center;
		background-color:#4e98a5;
	background:-moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background:-webkit-gradient(color-stop(0%,#1f7c8e), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#1f7c8e 0%,#1d6271 100%);
	background:-o-linear-gradient(#1f7c8e 0%,#1d6271 100%);
	background:-ms-linear-gradient(#1f7c8e 0%,#1d6271 100%);
	background:linear-gradient(#1f7c8e 0%,#1d6271 100%);
	}
	.button.orange.gradient:hover{
			margin:0px 0 12px 0;padding:20px 20px 20px 20px;
		display:block;
		border-radius: 5px;
		width:auto;
		text-align:center;
		background-color:#002233;
	background:-moz-linear-gradient(#002233 0%, #1d6271 100%);
	background:-webkit-gradient(color-stop(0%,#002233), color-stop(100%,#1d6271));
	background:-webkit-linear-gradient(#002233 0%,#1d6271 100%);
	background:-o-linear-gradient(#002233 0%,#1d6271 100%);
	background:-ms-linear-gradient(#002233 0%,#1d6271 100%);
	background:linear-gradient(#002233 0%,#1d6271 100%);
	}
	.button.orange.gradient img{
	float:right;
	width:16px;
	height:16px;
	margin:3px 0 0 20px;
	}