/* Tutoring-Portal Main CSS Document*/
/* -------------------------------------------------------------------------------------*/
/* Project Name : Turoing-Portal */
/* Time : 3:00 */
/* Day : Tuesday */
/* Project Consultant / UIDesigner : Jagadish.Rao.C*/
/* Company Name : Mist Minds */
/* -------------------------------------------------------------------------------------*/
/* Tutoring-Portal Main CSS Starts here */
#tut-portal-main-container {
	border: 0px solid #000;
	width: 100%;
	height: 768px;
	margin: 0 auto;
}
#tut-portal-top-header {
	background-color: #eaf7ff;
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 0 0px 20px 0px;
}
#tut-portal-searh-bar {
	position: relative;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.4);
	float: left;
	min-width: 72%;
	max-width: 100%;
	height: auto;
	background-color: #bdd9f1;
	margin: 50px 0px 0 50px;
	border: 0px solid #414141;
	border-radius: 5px;
	padding: 0px;
	overflow: hidden;
	line-height: normal;
}
#search input[type="text"] {
	background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
	border: 0px solid #d1d1d1;
	font: normal 12px Arial, Helvetica, Sans-serif;
	color: #bebebe;
	width: 94%;
	height: auto;
	text-align: right;
	padding: 20px 10px 20px 15px;
	margin: 10px 10px 10px 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#tut-portal-logo {
	float: right;
	margin: 40px 80px 0 0px;
	padding: 0 0 20px 0;
}
#tut-portal-home-body {
	background-color: #fff;
	height: auto;
	width: 100%;
	overflow: hidden;
	padding: 20px 0px 20px 0px;
}
#tut-portal-slider {
	border: 0px solid #ccc;
	min-width: 72%;
	max-width: 100%;
	height: auto;
	margin: 0px 0px 0 50px;
	float: left;
	background-color: #fff;
}
#tut-portal-global-navigation {
	min-width: 15%;
	max-width: 100%;
	height: auto;
	margin: 10px 0 0 24px;
	float: left;
	background-color: #fff;
}
#tut-portal-global-navigation ul {
	margin: 0px;
	padding: 0px;
	color: #fff;
}
#tut-portal-global-navigation ul li {
	margin: 0px 0 0px 0;
	padding: 0px;
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	background-color: #236d7a;
}
#tut-portal-gereral-footer {
	background-color: #00456c;
	color: #fff;
	float: left;
	width: 100%;
	height: 150px;
	margin: 50px 0 0 0;
}
#tut-portal-gereral-footer ul.footer-menu {
	margin: 60px 0px 0 50px;
	float: right;
}
#tut-portal-gereral-footer ul li {
	margin: 0px 0px 0 0px;
	padding: 0 10px 0 0;
	display: inline;
	font-weight: normal;
}
#tut-portal-gereral-footer ul li a {
	color: #fff;
	margin: 0px 0px 0 0px;
	padding: 0 0px 0 0;
	display: inline;
	font-weight: normal;
}
#tut-portal-gereral-footer ul li a:hover {
	color: #4c96a3;
	text-decoration: none;
}
#tut-portal-gereral-footer ul.copyright {
	margin: 60px 20px 0 50px;
	float: right;
}
#tut-portal-gereral-footer ul li {
	margin: 0px 0px 0 0px;
}
#tut-portal-social-btn {
	marign: 0px;
	padding: 0px;
	text-align: center;
}
#tut-portal-social-btn ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}
#tut-portal-social-btn ul li {
	margin: 0px;
	display: inline;
	padding: 0 10px 0 0;
	text-transform: none;
}
/* Tutoring-Portal Main CSS Ends here */
/* -------------------------------------------------------------------------------------*/
/* Tutoring-Portal Account details CSS Starts here */
#tut-portal-content-placeholder {
	border: 1px solid #cbcbcb;
	min-width: 72%;
	max-width: 100%;
	height: auto;
	margin: 12px 0px 0 50px;
	float: left;
	background-color: #fff;
	overflow: hidden;
}
h2.cmn-title {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
}
#tut-portal-content-placeholder table {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	width: auto;
	height: auto;
	margin: 10px;
	float: right;
}
#tut-portal-content-placeholder table tr td {
	text-align: right;
	padding: 5px 10px 5px 10px;
	border: 0px;
}
td.error{
	color:#FF0000 !important;
}
.error{
	color:#FF0000 !important;
}
#tut-portal-content-placeholder table tr td label {
	color: #666666;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}
.sign-btn {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	background-image: url(../images/icon-cancel.png);
	width: 37px;
	background-position: right;
	background-repeat: no-repeat;
	background-color: #369;
	color: #fff;
	margin: 0 20px 20px 0;
	border: 0px;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;
}
#tut-portal-btns {
	position: relative;
	left: 43%;
	border: 0px solid #ccc;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
#tut-portal-signin-btns {
	position: relative;
	left: 5%;
	border: 0px solid #ccc;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
a.button.icon-signin {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
a.button.icon-signin:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -webkit-gradient(color-stop(0%, #BF322E), color-stop(100%, #BF322E));
	background: -webkit-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -o-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -ms-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: linear-gradient(#E53C37 0%, #BF322E 100%);
}
a.button.icon-signin img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-signin span {
	padding: 0 20px 0 0;
	background: url(../images/Icon-signupl.png)no-repeat right;
}
a.button.icon-cancel {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
a.button.icon-cancel:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -webkit-gradient(color-stop(0%, #BF322E), color-stop(100%, #BF322E));
	background: -webkit-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -o-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: -ms-linear-gradient(#E53C37 0%, #BF322E 100%);
	background: linear-gradient(#E53C37 0%, #BF322E 100%);
}
a.button.icon-cancel img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-cancel span {
	padding: 0 20px 0 0;
	background: url(../images/icon-cancel.png)no-repeat right;
}
a.button.icon-save {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
a.button.icon-save:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -webkit-gradient(color-stop(0%, #027F36), color-stop(100%, #027F36));
	background: -webkit-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -o-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -ms-linear-gradient(#03BF51 0%, #027F36 100%);
	background: linear-gradient(#03BF51 0%, #027F36 100%);
}
a.button.icon-save img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-save span {
	padding: 0 20px 0 0;
	background: url(../images/icon-save.png)no-repeat right;
}
a.button.icon-signin {
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
a.button.icon-signin:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -webkit-gradient(color-stop(0%, #027F36), color-stop(100%, #027F36));
	background: -webkit-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -o-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -ms-linear-gradient(#03BF51 0%, #027F36 100%);
	background: linear-gradient(#03BF51 0%, #027F36 100%);
}
a.button.icon-signin img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-signin span {
	padding: 0 30px 0 0px;
	background: url(../images/icon-signup.png)no-repeat right;
}
a.button.icon-previous {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
a.button.icon-previous:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -webkit-gradient(color-stop(0%, #027F36), color-stop(100%, #027F36));
	background: -webkit-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -o-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -ms-linear-gradient(#03BF51 0%, #027F36 100%);
	background: linear-gradient(#03BF51 0%, #027F36 100%);
}
a.button.icon-previous img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-previous span {
	padding: 10px 25px 10px 10px;
	background: url(../images/pervious-arrow.png)no-repeat right;
}
a.button.icon-next {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	float: left;
	color: #fff;
	padding-left: 11px;
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	display: block;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	width: auto;
}
.button {
background-color:#002233;
background:-moz-linear-gradient(#002233 0%, #1d6271 100%);
background:-webkit-gradient(color-stop(0%,#002233), color-stop(100%,#1d6271));
background:-webkit-linear-gradient(#002233 0%,#1d6271 100%);
background:-o-linear-gradient(#002233 0%,#1d6271 100%);
background:-ms-linear-gradient(#002233 0%,#1d6271 100%);
background:linear-gradient(#002233 0%,#1d6271 100%);
padding: 8px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: white;
font-size:12px;
font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
}
 .button-fb {
background-color:#183971;
background:-moz-linear-gradient(#183971 0%, #255291 100%);
background:-webkit-gradient(color-stop(0%,#255291), color-stop(100%,#1d6271));
background:-webkit-linear-gradient(#183971 0%,#255291 100%);
background:-o-linear-gradient(#183971 0%,#255291 100%);
background:-ms-linear-gradient(#183971 0%,#255291 100%);
background:linear-gradient(#183971 0%,#255291 100%);
padding: 11px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #fff;
font-size:12px;
font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
text-decoration: none;
vertical-align: middle;
}
.button-fb:hover {
background-color:#15346b;
background:-moz-linear-gradient(#15346b 0%, #255291 100%);
background:-webkit-gradient(color-stop(0%,#15346b), color-stop(100%,#1d6271));
background:-webkit-linear-gradient(#15346b 0%,#255291 100%);
background:-o-linear-gradient(#15346b 0%,#255291 100%);
background:-ms-linear-gradient(#15346b 0%,#255291 100%);
background:linear-gradient(#15346b 0%,#255291 100%);
color: #fff;
text-decoration:none;
border:0px;
}
.button-fb:active {
background: #1b435e;
}
.button-fb img{
margin:0 5px 0 5px;
}



a.button.icon-next:hover {
	display: block;
	border-radius: 5px;
	width: auto;
	text-align: center;
	text-decoration: none;
	background-color: #002233;
	background: -moz-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -webkit-gradient(color-stop(0%, #027F36), color-stop(100%, #027F36));
	background: -webkit-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -o-linear-gradient(#03BF51 0%, #027F36 100%);
	background: -ms-linear-gradient(#03BF51 0%, #027F36 100%);
	background: linear-gradient(#03BF51 0%, #027F36 100%);
}
a.button.icon-next img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 3px 10px 0 0px;
}
a.button.icon-next span {
	padding: 10px 10px 10px 25px;
	background: url(../images/next-arrow.png)no-repeat left;
}
#tut-portal-welcome-content {
	border: 0px solid #cbcbcb;
	min-width: 72%;
	max-width: 100%;
	height: auto;
	margin: 12px 0px 0 50px;
	float: left;
	background-color: #fff;
	overflow: hidden;
}
ul.tut-portal-welcome-content {
	margin: 0px;
	padding: 0px;
}
ul.tut-portal-welcome-content li {
	margin: 0px 25px 0 0;
	padding: 70px 0 45px 0;
	clear: right;
	text-align: center;
	display: inline-block;
	border: 1px solid #6ab84b;
	float: left;
	width: 280px;
	height: auto;
}
ul.tut-portal-welcome-content li img {
	margin: 10px 10px 20px 0;
	vertical-align: baseline;
}
ul.tut-portal-welcome-content li span {
	color: #6ab84b;
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	font-size: 24px;
	text-align: center;
	margin: 0 auto;
}
.arrow-left {
	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
/* Tutoring-Portal Account details CSS Ends here */
/* -------------------------------------------------------------------------------------*/
/* Tutoring-Portal Profile page CSS Starts here */
#tut-portal-profile-dtls {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	border: 1px solid #cadcdc;
	width: 900px;
	height: auto;
	margin: 12px 0px 10px 50px;
	float: left;
	background-color: #fff;
	overflow: hidden;
}
#tut-portal-profile-tabs {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	min-width: 100%;
	max-width: 100%;
	height: 50px;
	margin: 0px 0px 0 0px;
	padding: 0px;
	float: left;
	background-color: #bdd9f1;
	overflow: hidden;
}
#tut-portal-profile-tabs ul {
	margin: 0px 300px 0 0;
	padding: 0px;
	float: right;
}
#tut-portal-profile-tabs ul li {
	font-size: 14px;
	color: #024b51;
	float: right;
	display: inline;
	margin: 15px 0 0 20px;
	padding: 0px;
}
#tut-portal-profile-tabs ul li.logout {
	background-color: #4e98a5;
	background: -moz-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -webkit-gradient(color-stop(0%, #1f7c8e), color-stop(100%, #1d6271));
	background: -webkit-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -o-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: -ms-linear-gradient(#1f7c8e 0%, #1d6271 100%);
	background: linear-gradient(#1f7c8e 0%, #1d6271 100%);
	border-radius: 5px;
	float: right;
	display: inline;
	margin: 8px 0 0 30px;
	padding: 7px 15px 7px 15px;
}
#tut-portal-profile-tabs ul li.logout a {
	color: #fff;
}
#tut-portal-profile-tabs ul li img {
	float: right;
	margin: 0 0 0 10px;
	vertical-align: middle;
}
#tut-portal-profile-tabs ul li a {
	color: #024b51;
	text-decoration: none;
}
#profile-info {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	background-image: url(../images/arab-bg.jpg);
	border-bottom: 1px solid #cadcdc;
	height: 170px;
}

#profile-info .profile-pic {
	border: 0px solid #000;
	float: right;
	width: 103px;
	height: 109px;
	margin: 20px 20px 0 0;
}
#profile-info .profile-info-header {
	border: 0px solid #000;
	float: right;
	width: 80%;
	height: 109px;
	margin: 20px 20px 0 0;
	padding: 0px;
}
.profile-name h2 {
	color: #0b444f;
	width: 100%;
	height: auto;
	text-align: right;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.profile-descp {
	width: 100%;
	height: auto;
	text-align: right;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.profile-descp ul {
	margin: 0px;
	padding: 0px;
}
.profile-descp ul li {
	color: #0b444f;
	font-size: 12px;
	display: inline;
	margin: 0px 0 0 10px;
	padding: 0px;
}
.profile-extra-tab {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	width: 100%;
	height: auto;
	text-align: right;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.profile-extra-tab ul {
	margin: 20px 0 0 0;
	padding: 0px;
}
.profile-extra-tab ul li {
	background-color: #80b239;
	background: -moz-linear-gradient(#80b239 0%, #6f9f2a 100%);
	background: -webkit-gradient(color-stop(0%, #80b239), color-stop(100%, #6f9f2a));
	background: -webkit-linear-gradient(#80b239 0%, #6f9f2a 100%);
	background: -o-linear-gradient(#80b239 0%, #6f9f2a 100%);
	background: -ms-linear-gradient(#80b239 0%, #6f9f2a 100%);
	background: linear-gradient(#80b239 0%, #6f9f2a 100%);
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
	display: inline;
	margin: 0px 0 0 10px;
	padding: 10px;
}
.profile-extra-tab li .info {
	background: none;
	color: #333;
	display: inline;
	margin: 0px 0 0 10px;
	padding: 10px;
}
#tut-portal-subjects {
	border: 1px solid #c3dfe0;
	width: 60%;
	float: left;
	margin: 30px 0 20px 30px;
	padding: 0 0 20px 0;
}
#tut-portal-subjects ul {
	margin: 0px;
	padding: 0px;
}
#tut-portal-subjects li {
	background-color: #246c7a;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
	background: -moz-linear-gradient(#00929f 0%, #246c7a 100%);
	background: -webkit-gradient(color-stop(0%, #00929f), color-stop(100%, #246c7a));
	background: -webkit-linear-gradient(#00929f 0%, #246c7a 100%);
	background: -o-linear-gradient(#00929f 0%, #246c7a 100%);
	background: -ms-linear-gradient(#00929f 0%, #246c7a 100%);
	background: linear-gradient(#00929f 0%, #246c7a 100%);
	border-radius: 5px;
	width: auto;
	float: right;
	display: inline;
	padding: 0px 0px 0px 0px;
	margin: 6px 6px 0px 0px;
}
#tut-portal-subjects li span {
	border-radius: 0px 5px 5px 0px;
	background-color: #0b444f;
	color: #fff;
	font-weight: normal;
	font-size: 12px;
	width: auto;
	float: right;
	padding: 0px 8px 5px 8px;
}
#tut-portal-subjects li a {
	color: #fff;
	padding: 15px;
	text-decoration: none;
}
#tut-portal-subjects h2 {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	color: #246c7a;
	height: auto;
	text-align: right;
	font-size: 14px;
	margin: 0 10px 0 0px;
	padding: 0px;
}
.biography {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	color: #666;
	height: auto;
	text-align: right;
	line-height: 18px;
	font-size: 12px;
	margin: 0 0px 0 0px;
	padding: 0px 0 10px 0;
}
#tut-portal-feedback {
	border: 1px solid #c3dfe0;
	width: 30%;
	float: right;
	margin: 30px 30px 20px 0px;
	text-align:center;
}
#tut-portal-feedback .reviews{
	margin:0 10px 20px 10px;
	text-align:right;
	border-bottom:1px solid #f2f2f2;
	padding:0 0 0 0;	
}
#tut-portal-feedback .reviews h3{
	font-size:12px;
	font-weight:normal;
	line-height:12px;
	margin:0px;	
}
#tut-portal-feedback ul {
	margin:0px 0 20px 0;
	text-align: center;
}

#tut-portal-feedback ul li {
	border:0px;
	margin:0px 0 0 0;
	padding: 0px;
	display: inline;
}
#tut-portal-feedback ul li img{
	margin:0px 0 0 0;
}
#tut-portal-feedback h2 {
	font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
	color: #246c7a;
	height: auto;
	text-align: right;
	font-size: 14px;
	margin: 0 10px 0 0px;
	padding: 0px;
}
input#bigbutton {
	width: auto;
	background: #38939b; /*the colour of the button*/
	margin: 0 0px 10px 10px;
	padding: 4px 4px 4px 4px; /*apply some padding inside the button*/
	border: 0px solid #246c7a; /*required or the default border for the browser will appear*/
	cursor: pointer; /*forces the cursor to change to a hand when the button is hovered*/
	/*style the text*/
	font-size: 12px;
	font-family: Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
	color: #fff;
	/*use box-shadow to give the button some depth - see cssdemos.tupence.co.uk/box-shadow.htm#demo7 for more info on this technique*/
/*give the corners a small curve*/
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/***SET THE BUTTON'S HOVER AND FOCUS STATES***/
input#bigbutton:hover, input#bigbutton:focus {
	color: #dfe7ea;
	/*reduce the size of the shadow to give a pushed effect*/
	-webkit-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px #3e9cbf, 0px 2px 0px 0px #205c73, 0px 2px 5px #999;
}
/* Tutoring-Portal Profile page CSS Ends here */
/* -------------------------------------------------------------------------------------*/
.acidjs-rating-stars,
.acidjs-rating-stars label::before
{
    display: inline-block;
	margin:0 0 22px 0 ;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #189800;
}
 
.acidjs-rating-stars *
{
    margin: 0;
    padding: 0;
		display:inline-block;
		
}
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
	margin:0;
	height:auto;
}
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
     
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
td.error {
	color:#FF0000;
}